[2019-04-26 20:56] skalldri opened #1 "Not hitting framerate at 30FPS WFOV_UNBINNED"
The latest driver using the C++ SDK doesn't seem to be hitting frame rate at 30FPS on WFOV_UNBINNED. We should investigate with a profiler to work out why.

[2019-04-26 21:05] skalldri opened #2 "Capture timestamps are not synchronized with each other or the IMU"
Each individual ROS message contains a timestamp, in host-time. This timestamp is currently populated at the time each message is generated. Since there is processing associated with each message, this means that each frame that gets published has a slightly different timestamp.

This doesn't represent how the sensor works very well: RGB and depth frames are captured at the same time, and so the R

[2019-05-01 00:33] #1 closed, assigned to skalldri

[2019-05-01 00:37] skalldri opened #3 "Verify if gyro and accel are sampled at different rates"
Old comments suggest that the IMU's gyro and accel are sampled at different rates, with different timestamps.

This might be a problem for ROS, since it only provides a way to send a single IMU message with a single timestamp.

Investigate if this is true, and try to determine if this will cause issues with common SLAM packages (for example, Cartographer).

[2019-05-29 15:21] jeffdelmerico opened #4 "Unclear error message when starting cameras with unsupported depth_mode/fps combination"
Currently, the default launch parameters for the depth camera are not supported (30 fps w/ WFOV_UNBINNED), which causes the following error on startup.  It is not clear from the error that the cause is an unsupported combination of parameters, rather than a problem with the device.  I'm not sure about the best way to resolve this, but since the call to k4a_device_start_cameras in k4a.hpp only indi

[2019-06-06 21:00] skalldri opened #5 "ROS2 Support"
As ROS1 is slowly being phased out in favor of ROS2, we should begin to investigate supporting ROS2 with Azure Kinect. This will involve creating a new branch to support a ROS2 release, and then porting the node to run on the new ROS2 messaging stack.

[2019-06-06 21:02] skalldri opened #6 "Playback support"
The Azure Kinect Sensor SDK has a native playback / recording API. ROS also has a native playback and recording API, and these two formats are incompatible.

The Azure Kinect ROS Driver could be used to play back Azure Kinect recordings through ROS. This could be useful for people who want to collect data without having to install ROS, and then play it back in future on a ROS system. It is also us

[2019-06-06 21:04] skalldri opened #7 "Enable a CI system"
We need to have Azure DevOps CI support before we go public. It should be able to:

- Download and install the Azure Kinect SDK
- Download and install ROS
- Build the node

This needs to be done on both Windows and Linux.

[2019-06-20 12:58] #4 closed, assigned to nobody

[2019-06-20 20:55] skalldri opened #8 "Add nodelet version"
For efficiency, we should also build a nodelet version of the node so that it can be bundled into a nodelet manager with related processes (like image_proc/rectify).

[2019-06-21 19:25] #8 closed, assigned to skalldri

[2019-06-21 19:34] skalldri opened #10 "Use driver nodelet in the rtabmap_slam launch file"
**Is your feature request related to a problem? Please describe.**
The rtabmap_slam launch file starts a new node of the Azure Kinect ROS Driver, but uses nodelets for the image_proc post-processing steps. It would be significantly more memory efficient to use the pointer-passing mechanics enabled through nodelets.

**Describe the solution you'd like**
Use the nodelet version of the ROS driver in

[2019-06-21 19:47] #10 closed, assigned to skalldri

[2019-06-21 20:36] skalldri opened #12 "Documentation cleanup"
**Is your feature request related to a problem? Please describe.**
Documentation in the repository is not always consistent. It should be cleaned up to ensure that developers have a consistent experience.

**Describe the solution you'd like**
Clean up the documentation.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2019-06-21 20:53] skalldri opened #14 "Windows does not build with Program Files installed SDK"
**Describe the bug**
Windows does not build with the latest commit in master. It fails to find the Azure Kinect SDK.

**To Reproduce**
Steps to reproduce the behavior:
1. Run "catkin_make" to try and build the project

Observe that a CMakeLists.txt error is produced saying that the SDK cannot be found.

**Expected behavior**
Project builds.

**Logs**
[code]

**Screenshots**
If applicable, add scre

[2019-06-21 21:32] #14 closed, assigned to nobody

[2019-06-21 22:11] skalldri opened #16 "Release a Melodic build"
**Is your feature request related to a problem? Please describe.**
The "melodic" branch does not contain any code. It should contain the latest release for ROS Melodic.

**Describe the solution you'd like**
Merge code from master into "melodic" to create the melodic release.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2019-06-24 19:54] #16 closed, assigned to nobody

[2019-07-01 17:04] skalldri opened #20 "Publish JPEG images instead of BGRA"
The Azure Kinect does not natively support publishing BGRA images: the BGRA conversion is done in the SDK, with significant processing required on the host to support the conversion.

To reduce the workload on the host device, the ROS node should support publishing a native format (MJPEG is probably a good choice) as well as BGRA format.

[2019-07-01 17:11] skalldri opened #21 "Use K4A timestamps as input to the ROS timestamps"
Currently, ROS timestamps are computer by capturing `ros::Time::now()` as soon as a capture arrives, and using that time for all data emitted from that capture. To better synchronize the IMU and RGB/Depth captures, and to eliminate variability introduced by ROS, we should use the K4A timestamps as input to produce the ROS timestamp.

[2019-07-01 20:01] skalldri opened #23 "Passive IR mode causes a ROS node crash"
**Describe the bug**
The ROS node crashes when running depth in PASSIVE_IR mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the ROS node with _depth_mode:=PASSIVE_IR

**Expected behavior**
IR images should be provided in PASSIVE_IR mode.

**Logs**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informatio

[2019-07-01 20:21] skalldri opened #25 "Don't register topics that won't be published"
**Is your feature request related to a problem? Please describe.**
Generally, topics that aren't going to be published given a device configuration, shouldn't be published.

For example, if the `point_cloud` parameter is false, the `points2` topic shouldn't be published.

**Describe the solution you'd like**
Don't publish topics that cannot be provided given a device configuration.

**Describe alt

[2019-07-01 20:23] skalldri opened #26 "Don't perform processing on unsubscribed topics"
**Is your feature request related to a problem? Please describe.**
The ROS node performs a lot of processing to perform the point_cloud, depth_to_rgb and rgb_to_depth transforms. These are not always used, and it should be possible to disable them when not needed.

**Describe the solution you'd like**
Several improvements:
- Parameters to disable unneeded transforms
- Automatically stop processing

[2019-07-01 22:07] skalldri opened #27 "RGB Point Cloud attempts to render pixels not seen by the color camera"
**Describe the bug**
When rendering an RGB point cloud, the native point cloud conversion function attempts to render invalid color pixels into the point cloud. This causes the image to contain "bleed over" from other valid color pixels.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the `rgb_point_cloud` parameter
2. Point the camera at a far-away object
3. Obscure part of the scene

[2019-07-01 22:40] #23 closed, assigned to nobody

[2019-07-02 18:47] skalldri opened #28 "Add an Azure Kinect URDF model"
**Is your feature request related to a problem? Please describe.**
When visualizing sensor data in RVIZ, there is no Azure Kinect URDF model visible.

**Describe the solution you'd like**
We should provide a URDF model that approximates the dimensions of the sensor to integrate with existing robots.

**Describe alternatives you've considered**
None.

**Additional context**
Add any other context or

[2019-07-03 18:04] #7 closed, assigned to skalldri

[2019-07-03 19:41] #28 closed, assigned to nobody

[2019-07-03 19:55] #12 closed, assigned to skalldri

[2019-07-03 20:04] #27 closed, assigned to nobody

[2019-07-05 23:20] skalldri opened #32 "Increase parallelism of sensor data processing"
**Is your feature request related to a problem? Please describe.**
Currently, the node processes large amounts of Kinect sensor data serially. Each image is produced in series, then followed by the point cloud. On powerful machines, this could be done in a multi-threaded way to speed up image generation.

**Describe the solution you'd like**
Provide an option to multi-thread the node so that image

[2019-07-05 23:41] #26 closed

[2019-07-30 18:05] zchenpds opened #36 "Lower the latency of IMU samples."
**Is your feature request related to a problem? Please describe.**
The current implementation of [`void K4AROSDevice::imuPublisherThread()`](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/1c6e77422f32306fe2be06c486ae66d75da4d21f/src/k4a_ros_device.cpp#L831-L861) causes a lot of IMU samples to be buffered and dropped because the call to `k4a_device_.get_imu_sample()` is not fast enough.

[2019-08-01 09:02] duanyongli opened #37 "MJPEG decoder initialization failed"
I sometimes enconter the problem, not everytime.
comand: roslaunch azure_kinect_ros_driver rectify_test.launch

**Logs**
[2019-08-01 16:49:34.768] [error] [t=6690] /home/username/Software/Azure-Kinect-Sensor-SDK/src/color/uvc_camerareader.cpp (1274): DecodeMJPEGtoBGRA32(). MJPEG decoder initialization failed

[2019-08-01 16:49:34.769] [error] [t=6691] /home/username/Software/Azure-Kinect-Sensor-SD

[2019-08-08 08:03] tomerlevi444 commented on #37
I'm having the same problem. Ubuntu 18.04 with ROS Melodic.

[2019-08-08 19:08] eric-schleicher commented on #37
ditto me too...

[2019-08-08 19:19] eric-schleicher opened #38 "slam_rtabmap.launch | state publishers in wrong namespace?"
In working to get this k4a ros package working, I noticed that the two state_publisher nodes crash because they cannot find the robot_description parameter loaded at the beginning of the launch file (the urdf).

Moving these two nodes outside the k4a group/namespace allows them to run without crashing.

proposing that either the urdf be moved into k4a namespace, or that the state_publishers move o

[2019-08-09 17:29] #21 closed

[2019-08-10 22:55] skalldri commented on #37
I've occasionally seen this issue as well, which is why I openned Issue #20 to stop using the MJPEG decoder. This won't fix all cases though, since we need to convert to BGRA to publish the colorized point cloud.

This feels like a bug in the Linux implementation of the SDK, but it only seems to repro when running the nodelet. I'll try to dig into this a bit more on Monday, and open a bug on the A

[2019-08-10 23:16] skalldri commented on #36
Where do you see documentation / how did you determine that the IMU samples are generated at 1600Hz? The [K4A documentation](https://docs.microsoft.com/en-us/azure/Kinect-dk/hardware-specification#motion-sensor-imu) indicates that they're transmitted to the host PC at 208 Hz.

Are they being transmitted in batches?

[2019-08-11 00:47] zchenpds commented on #36
It does look like they are transmitted in batches.

I have another program that calls [`k4a_device_get_imu_sample()`](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga8e5913b3bb94a453c7143bbd6e399a0e.html) with `timeout_in_ms=1000` and logs the data to a csv file. This is what I got: [data_20190810_21_58_03_imu0.xlsx](https://github.com/microsoft/Azure_Kinect_ROS_Driv

[2019-08-11 04:37] skalldri commented on #36
Ahh... I've spoken to @xthexder, who wrote the K4A playback / record API, and he has similar observations about the IMU data stream. He suggests that we use the [method used in the K4A record utility](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/f0a1229e243101b4fbdd5f8f0d6581a4fb3d8b6c/tools/k4arecorder/recorder.cpp#L198-L218) to acquire the IMU samples in batches.

[2019-08-11 20:33] skalldri commented on #2
This was fixed in #35

[2019-08-11 20:33] #2 closed

[2019-08-13 01:02] shuntaraw opened #42 "driver.launch fails if depth stream is disabled"
**Describe the bug**
driver.launch fails with errors if depth_enabled is set to false.

**To Reproduce**
1. Run: roslaunch azure_kinect_ros_driver driver.launch depth_enabled:=false point_cloud:=false rgb_point_cloud:=false
2. ROS node terminates with errors.

**Expected behavior**
ROS node runs without error and publishes RGB images and IMU data (and others)

**Logs**
[2019-08-12 17:53:28.142] [e

[2019-08-13 03:20] shuntaraw opened #44 "P matrix in CameraInfo is incorrect"
**Describe the bug**
P (projection matrix) in sensor_msgs/CameraInfo message should be defined for rectified images and not for raw images by convention (see the link below). Currently left 3x3 matrix of P is identical to K (intrinsic matrix) even if D (distortion) is nonzero.
http://docs.ros.org/melodic/api/sensor_msgs/html/msg/CameraInfo.html

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-08-13 04:03] shuntaraw commented on #44
I misinterpreted the definition of CameraInfo. The current implementation looks good.

[2019-08-13 04:03] #44 closed, assigned to nobody

[2019-08-14 04:24] lesterlo opened #45 "Integrate the body tracking data to ROS"
**Is your feature request related to a problem? Please describe.**
No, just a feature request

**Describe the solution you'd like**
Could we integrate the body tracking data to ROS system which can display the joint data on RViz and utilize the joint data through on difference ROS module?

Also, I want to use the ROS system to record the body movement data.

**Describe alternatives you've consider

[2019-08-15 02:48] zchenpds commented on #42
The cause is that both `K4ACalibrationTransformData::publishRgbToBaseTf()` and `K4ACalibrationTransformData::publishImuToBaseTf()` require the depth camera to be enabled because of these SDK API calls
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/99fa52c6caa1a3db8b167b57267dd5891e1159f3/src/k4a_calibration_transform_data.cpp#L171-L175
https://github.com/microsoft/Azure_Kinect_ROS_Drive

[2019-08-15 13:21] RoseFlunder commented on #45
I think they are already working on it because they included a modified k4a.hpp in their repo, so that the C++ sensor API can be used with the C-API from the body tracking SDK.

However, I needed this myself and forked this repo to integrate bodytracking and other things until its officially integrated.
If you need it before the official release too, you can take a look at this branch of my repo:

[2019-08-15 17:21] skalldri commented on #45
@RoseFlunder : are you interested in merging that code back into this mainline repo? You've got lots of great work there that resolves some of the open issues we have here (body tracking, playback support).

[2019-08-15 17:37] RoseFlunder commented on #45
Sure, I would be glad to help.
I just need some time to seperate the things into single pull requests I guess.

[2019-08-15 17:53] skalldri commented on #45
I'm also happy to take on the task of merging your branch back into the mainline repo if you want. I can put you on as a reviewer when I've got something put together.

[2019-08-15 17:54] aravindbattaje opened #47 "Driver launch file ignores sensor serial number"
The sensor serial number parameter `sensor_sn` is ignored in the `driver.launch`.

The fix is to add the parameter in the launch file, as in https://github.com/aravindbattaje/Azure_Kinect_ROS_Driver/commit/3a1856043316a45a6b12f0680d087f80e088d2ad . (Will create PR when triage approved.)

[2019-08-15 18:34] skalldri commented on #47
Approved: thanks for the fix!

[2019-08-15 19:51] RoseFlunder commented on #45
@skalldri
I already made a pull request for the playback functionality which you can review and test.
I used the C-API because the C++ API is not yet public in the Sensor SDK 1.1.0

Could be rewritten to the C++ API at a later point in time when 1.2.0 is released but shouldn't be a lot of work.

I will make another pull request for body tracking support soon.

[2019-08-16 01:43] eric-schleicher commented on #37
bump.  this seems to happening a lot, without a deliberate workaround.

[2019-08-16 01:53] shuntaraw opened #51 "Publish RGB pointclouds beyond the texture"
**Is your feature request related to a problem? Please describe.**
Currently, RGB points are reconstructed only from the depths that have non-zero texture colors. Given that the depth camera has significantly wider FoV, it would be nice to have an option to publish all points including those that are not covered by the texture.

**Describe the solution you'd like**
A potential implementation would

[2019-08-16 04:37] skalldri commented on #37
Still investigating this: the MJPEG decoder on Linux is very opaque, so getting logs out of it is more challenging. A potential workaround might be to use the node version of the driver instead of the nodelet: I don't think I've seen the bug hit in the node.

[2019-08-16 06:30] lesterlo commented on #45
@RoseFlunder
Thanks, I will try your repo first.

[2019-08-16 19:31] skalldri commented on #47
Fixed by #48

[2019-08-16 19:31] #47 closed, assigned to nobody

[2019-08-16 19:37] skalldri commented on #42
Fixing this will probably require a small rewrite of the k4a_calibration_transform class.

The Azure Kinect's calibration data is relative to the sensors. There is actually no transform between the mechanical housing and any of the sensor co-ordinate frames, just between the sensors themselves.

To get around this, I made the `camera_base` frame the center of the visor, and used the mechanical spe

[2019-08-20 10:53] RoseFlunder opened #53 "Formatting the code with clang-format to apply ROS CppStyleGuide"
**Is your feature request related to a problem? Please describe.**
In one of my pull requests I forgot some indentation in the code.
There exists a [ROS CppStyleGuide](http://wiki.ros.org/CppStyleGuide) which we could apply to this codebase.
For autoformatting they provide a .clang-format file:
[https://github.com/davetcoleman/roscpp_code_format](https://github.com/davetcoleman/roscpp_code_format)

[2019-08-20 18:19] skalldri commented on #53
Agreed, we should be using Clang format where possible, though I don't 100% agree with the entire ROS CPP style guide. I'll investigate adding a Clang format file that matches this repo's style.

[2019-08-21 02:58] skalldri opened #54 "CMake should use Module Mode instead of Config Mode"
**Is your feature request related to a problem? Please describe.**
When finding modules on the system, it's more appropriate to use a CMake Find Module than the Config file mode. This would allow CMake to discover multiple SDKs installed on Windows, and pick an appropriate one.

**Describe the solution you'd like**
Switch to using CMake Find Modules.

**Describe alternatives you've considered**
No

[2019-08-21 19:15] #54 closed, assigned to skalldri

[2019-08-22 15:53] RoseFlunder commented on #20
Is this the reason why the publishing rate drops significantly when enabling rgb point cloud?
I want to use 30 fps and the rgb point cloud but the publishing rate drops from 30Hz down to 8-12Hz.

[2019-08-22 22:46] RoseFlunder opened #56 "RGB Pointcloud slows down the publishing rate a lot"
**Describe the bug**
When enabling the rgb_point_cloud the performance of the node degrades a lot. Without the colorized pointcloud the node can maintain a steady 30 hz publishing rate when using 30 FPS with the kinect.
With the rgb_point_cloud enabled the publishing rate decreases to like 10-12 Hz.
When visualizing the point cloud in RViz the slow publishing rate leds to a laggy view.
RViz itself

[2019-08-22 22:58] skalldri opened #57 "Kinect timestamps and ros::Time::now() drift appart"
**Describe the bug**
Over time, ROS Time and Kinect time appear to drift appart. This may impact the timestamping solution implemented in #21 .

**To Reproduce**
Leave the ROS node running overnight. Observe that timestamps drift significantly over long periods of time.

**Expected behavior**
Timestamps should remain relatively consistent over long periods of time.

**Logs**
Please provide relevan

[2019-08-23 08:48] brookman opened #58 "ROS launch configuration for cartographer"
Hi. I am new to Kinect/ROS and currently trying to get a (SLAM) 3D pose from the device. I have found the launch configuration for rtabmap_ros but didn't manage to install it on windows. I was recommended to use cartographer_ros which I got running.
Now I am struggling with the configuration. Cartographer needs a .lua as well as a .launch configuration. For beginners like me it would be tremendous

[2019-08-23 16:39] RoseFlunder commented on #57
The sensor sdk 1.2.0 is released now, tho the debian/ubuntu package comes next week.
With the new version we have new API to get a image system timestamp instead of a device timestamp calculated from the SDK:
[https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/608](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/608)

But looks that they didn't provide such a method for the IM

[2019-08-23 17:00] RoseFlunder opened #59 "Update Sensor SDK version to 1.2.0"
**Is your feature request related to a problem? Please describe.**
With the release of Azure Kinect Sensor SDK 1.2.0 we should switch to this new version.
[https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/608](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/608)

The MSI Installer for Windows as well as NuGet Packages are already released.
The debian package for Ubuntu follo

[2019-08-23 17:22] skalldri commented on #6
Fixed by #49

[2019-08-23 17:22] #6 closed

[2019-08-23 17:37] skalldri commented on #56
Confirmed this is occurring on my ROS Melodic, Ubuntu 18.04 machine. I suspect the main image processing loop is running too slowly on the CPU, since the K4A Viewer does the RGB point cloud math on the GPU.

I'll investigate ways I could do this faster, potentially using SIMD instructions.

[2019-08-23 17:59] #36 closed, assigned to skalldri

[2019-08-23 18:11] skalldri commented on #37
This is some issue initializing libjpeg. Unfortunately, the SDK isn't providing the error message from libjpeg for us to analyze. I've opened an [issue on the SDK](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/672) to see if they have insight / can help us out.

[2019-08-23 18:16] skalldri commented on #59
There shouldn't be any work required to support the 1.2.0 SDK, besides removing the .hpp file (and even that isn't truly _required_). The new CMake files will automatically select the most recent compatible version of the SDK that's installed on the machine. The compatibility logic should pick 1.2.0 as a compatible SDK, and the depthengine version check was removed to allow new depthengine version

[2019-08-23 18:26] RoseFlunder commented on #59
@skalldri
Don't we have to change this for example?
[https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/include/azure_kinect_ros_driver/k4a_ros_device.h#L29](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/include/azure_kinect_ros_driver/k4a_ros_device.h#L29)

From:
`#include "azure_kinect_ros_driver/k4a.hpp"`
to
`#include <k4a/k4a.hpp>`

The 1.2.0 version of the k

[2019-08-23 18:33] skalldri commented on #37
I added a line to print the contents of tjGetErrorStr() and I'm getting this as the output:
[code]

Not sure what that means... digging further.

[2019-08-23 18:36] skalldri commented on #37
Potential hypothesis: maybe there are multiple instances of a libjpeg shared object being loaded into the nodelet manager, causing symbol collision?

[2019-08-23 18:50] skalldri commented on #56
Confirmed, the image processing loop take between 40-70ms when the RGB point cloud is enabled. I'll look for ways to potentially speed it up.

[2019-08-23 21:03] skalldri commented on #37
Also potentially possible: ROS might be adding a different version of libjpeg to LD_LIBRARY_PATH that's causing the Azure Kinect SDK to fail.

Similar to this issue: https://github.com/torch/image/issues/171

[2019-08-23 23:53] RoseFlunder opened #61 "Playback files color support (MJPEG to BGRA conversion)"
**Is your feature request related to a problem? Please describe.**
Add a method to use the colorimage of playback files which is in MJPEG format.
Currently the node can only process BGRA color images.

**Describe the solution you'd like**
Looks like the color image must be converted from MJPEG to BGRA.

**Describe alternatives you've considered**
None. Guess working directly with a compressed JPEG

[2019-08-24 07:00] msr-peng opened #63 "Object Boundary "Leak" in RGB-D Image and PointCloud"
The problem still exists in the last SDK.
Not already resolved

**Describe the bug**
There is severe overlaps at the boundary of the object in `/rgb_to_depth/image_raw` topic. You can just see my hand below. It just looks like there is another hand close behind my real hand.
![misOverlap](https://user-images.githubusercontent.com/32179387/63633583-34da2a00-c610-11e9-8a5e-ed0c0ba9b9da.png)
Besides,

[2019-08-24 08:40] RoseFlunder commented on #63
I already reported the performance issue (lag of colorized point cloud) in #56. So that problem is confirmed and being looked into.

[2019-08-24 21:03] RoseFlunder commented on #37
@skalldri
This error does not occur when you start the nodelet version without image_proc (which uses opencv, which does also use linjpeg/libjpeg-turbo as third party lib in their repository).
Maybe this helps?
Could it happen that OpenCV version image_proc uses loads another version of libjpeg/libjpeg-turbo which isn't the same that the azure kinect sdk is compiled against?

In general opencv sho

[2019-08-25 22:32] RoseFlunder commented on #63
I can confirm that I see the overlaps as well in the colorized depth image and the colorized pointcloud.

[2019-08-26 17:45] skalldri commented on #63
The phenomenon you're describing we refer to as "color spill", where color from one object "spills" onto another object in the depth image.

It isn't really possible to resolve this issue on the `/rgb_to_depth` topic due to the geometry of the camera. This is why you should be using `/depth_to_rgb` topics when colorizing the point cloud. I provided the `/rgb_to_depth` topic for completeness, but I

[2019-08-26 17:55] skalldri commented on #63
On the topic of performance, there are number of factors to consider here.

There is a known bug that is causing high-resolution colorized point clouds to lag behind real-time: see #56.

In RViz, consider that the Azure Kinect is producing an order of magnitude more data that the Kinect for Xbox One: see the comparison document [here](https://docs.microsoft.com/en-us/azure/Kinect-dk/windows-compar

[2019-08-26 17:56] skalldri opened #64 "Warn if the main sensor loop falls behind realtime"
**Is your feature request related to a problem? Please describe.**
On some resource constrained systems, or in the case of #56, the sensor processing loop can fall behind realtime. We should warn developers if this happens.

**Describe the solution you'd like**
Add a ROS_WARN to indicate that we have fallen behind realtime.

**Describe alternatives you've considered**
None.

**Additional context**

[2019-08-26 18:16] skalldri commented on #37
OpenCV does work with the Azure Kinect SDK, but there are no guarantees that any random version of OpenCV will work with any random version of the Kinect SDK. The version compatibility matrix is too complex to manage them all, and it looks like we've run into an issue.

It seems likely that a symbol conflict is responsible for this issue. I'll dig into it a bit more today, and if I don't find a go

[2019-08-26 18:20] #63 closed, assigned to nobody

[2019-08-26 18:23] skalldri commented on #58
I've previously played around with cartographer, but didn't have much success. I found cartographer to be really, _really_ challenging to tune. I couldn't get cartographer working in a way I was happy with, so I decided not to publish any sample launch files as part of this repo.

I can probably dig up the old configuration files for you and post a Gist to get you started: because of the poor qual

[2019-08-26 18:23] #38 closed, assigned to skalldri

[2019-08-26 18:51] #64 closed, assigned to nobody

[2019-08-26 18:58] skalldri commented on #51
To do this, we would need to re-implement the Azure Kinect SDK transform functions, since they don't support what you're describing. While that's doable, it's not something that I'm planning on pursuing.

There are also alternative ways to do this that don't involve modifying this driver: for example, the depth-to-RGB registration could be done by an external node (like `depth_image_proc/register`

[2019-08-26 18:58] #51 closed, assigned to nobody

[2019-08-26 21:59] RoseFlunder commented on #56
@skalldri
Is a GPU accelerated version planned?
In the usage.md this is stated but there isn't any GPU acceleration in the currently used SDK methods I think?

Today I saw this example in the sensor sdk repository:
[Fast Pointcloud Example](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/examples/fastpointcloud)
Would this version already be faster even on CPU or is it comparable

[2019-08-26 22:28] skalldri commented on #56
The fast point-cloud example does not produce RGB point clouds, just regular point clouds. It's just a way to produce point clouds quickly without using SSE3.

My documentation in usage.md is incorrect: we use SSE3-accelerated point cloud math, not GPU-accelerated. See:

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/c0800a43fb42200935aa9a8da58b8bd5db3d55c9/src/transformation/rgbz.c#L12

[2019-08-26 22:30] skalldri commented on #37
It looks like a version of `libjpeg` is being pulled in by `compressed_image_transport`, to do JPEG decompression. It's really tricky to debug this issue, since it only seems to happen when launching the nodelet through the launch file. If I gdb into the nodelet manager, then manually load the image_proc/Rectify and Azure Kinect Nodelets, it doesn't repro.

The best workaround for now might be to

[2019-08-26 22:37] RoseFlunder commented on #56
Thanks for the detailed answer :) I am looking forward to it because thats one of our main blocking points at the moment in our project.

[2019-08-27 20:37] brookman commented on #58
Thank you for the reply. I have spent several days trying to configure cartographer. But my success is limited. I have also tried to down-sample the  point cloud with pcl. Here are some of my (broken) setting files: https://gist.github.com/brookman/28858616394202885a1047dadb16d78d

Edit: By the way: Is it possible to run rtabmap_ros on Windows? I wasn't able to do so after trying a few hours. That

[2019-08-27 21:31] RoseFlunder commented on #61
Fixed by #62

[2019-08-27 21:31] #61 closed, assigned to nobody

[2019-08-27 22:49] skalldri commented on #58
To my knowledge, rtabmap_ros is not compiled as part of the ROS on Windows 10 builds, and it seems like a pretty complicated project to try and build from scratch.

Good news though: after the fix for #36, Cartographer seems to be working somewhat better. Still not great, but definitely better than the jumpy tracking I was seeing previously.

Here are some files I used to get ~30 FPS poses out of

[2019-08-28 20:43] brookman commented on #58
Thank you very much for sharing your configs. I had to switch to 15fps and still use the pcl to down-sample the point cloud. But then I was able to do some mapping in real time! https://youtu.be/B0BnGLpXWt0
The device pose is for some reason still very jumpy though.

[2019-08-28 22:14] shuntaraw opened #67 "Conflict with compressed_image_transport"
**Describe the bug**
A node crashes when compressed color/depth stream is subscribed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install compressed_image_transport:
[code]
2. Run a ROS node:
[code]
3. Subscribe to one of compressed streams:
[code]
4. See error:
[code]

**Expected behavior**
Subscription works.

**Logs**
See above.

**Desktop (please complete the following information):*

[2019-08-29 02:20] shuntaraw commented on #67
A tentative workaround is as follows:

1. Disable image_transport in `azure_kinect_ros_driver/node`, e.g. in a launch file,
[code]

2. Republish the raw stream with compression, e.g. in a launch file,
[code]

[2019-08-30 03:29] skalldri commented on #67
This is fantastic: thanks for digging into this issue. I won't have time this week to look into it, but this will be a great help in repro-ing the issue.

[2019-08-30 21:16] skalldri commented on #67
Never mind, this ended up at the top of my work queue today. I did some deep diving.

I crashed the node intentionally under GDB to see what's going on.

(gdb) backtrace
#0  0x00007ffff7b0b4e5 in jpeg_CreateCompress (cinfo=0x7fff5fffd5b0, version=80, structsize=584) at /home/vsts/work/1/s/extern/Azure-Kinect-Sensor-SDK/extern/libjpeg-turbo/src/jcapimin.c:41
#1  0x00007fffde35a82c in ?? () from /us

[2019-09-01 03:04] tabula-rosa commented on #67
Thank you for providing this workaround. This worked for me for subscribing to compressed RGB images. However, it does not appear to work for compressed depth images. When subscribing to the compressed depth topic, I receive the following error and nothing is published: ` Compressed Image Transport - JPEG compression requires 8/16-bit color format (input format is: 32FC1)`

[2019-09-01 09:04] skalldri commented on #67
You need to use [compressed_depth_image_transport](http://wiki.ros.org/compressed_depth_image_transport) to compress depth images.

[2019-09-03 20:10] mokoker commented on #37
having the same issue,
[2019-09-03 23:09:59.062] [error] [t=6629] /home/vsts/work/1/s/extern/Azure-Kinect-Sensor-SDK/src/color/uvc_camerareader.cpp (1267): DecodeMJPEGtoBGRA32(). MJPEG decoder initialization failed

[2019-09-03 23:09:59.062] [error] [t=6630] /home/vsts/work/1/s/extern/Azure-Kinect-Sensor-SDK/src/sdk/k4a.c (271): capturesync_get_capture(device->capturesync, capture_handle, timeout_

[2019-09-06 20:55] ooeygui opened #69 "materials are too generically named, can conflict when integrating"
**Describe the bug**
When the URDF for the Kinect is included in another XACRO, the generic material name can conflict. Suggest namespacing it.

**To Reproduce**
Create a xacro which defines a material like *black*.
Include the kinect urdf.

notice that robot state publisher crashes because the URDF parser fails

** Request **
Prefix the materials like azure-kinect-black

[2019-09-10 13:38] msr-peng opened #70 ""process has died" when roslaunch driver.launch"
**Describe the bug & To Reproduce**
After `catkin_make` the `Azure_Kinect_ROS_Driver` ROS package, when run
[code]
following errors will occur
![Azure_Kinect_Bug](https://user-images.githubusercontent.com/32179387/64616755-d1d3eb80-d3a2-11e9-9415-b94ad2a46a76.png)

**Expected behavior**
The driver.launch should run successfully.

**Desktop (please complete the following information):**
 - OS: Ubun

[2019-09-10 18:40] RoseFlunder commented on #70
I may have a guess.
I had similar problems in my fork when using the latest sensor sdk 1.2.0 & body tracking sdk 0.9.2 (I added body tracking data publishing in my fork).
This repository still includes a modified "k4a.hpp" based on the 1.1.0 version of the sensor sdk which adds a method to get a captures handle.
This method is now also available in the 1.2.0 release of the sensor sdk and so a modi

[2019-09-10 18:50] #59 closed, assigned to nobody

[2019-09-10 20:13] amamamahmood opened #71 "Getting an error on catkin_make: configuration file not accepted"
Hello,

I have installed Microsoft Kinect Azure SDK on ubuntu 18.04 When I try to build this repo, I get this error on running "catkin_make"

Kindly help me with it

![issue](https://user-images.githubusercontent.com/45050422/64646819-cc4bc500-d3e5-11e9-8ea3-21eda637fee9.png)

[2019-09-10 20:16] skalldri commented on #71
You need to update to the [1.2.0 Azure Kinect SDK](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md).

[2019-09-10 20:16] #71 closed, assigned to nobody

[2019-09-10 20:20] amamamahmood commented on #71
I try doing it using:
sudo apt install libk4a1.2-dev
But I get this error:
![issue2](https://user-images.githubusercontent.com/45050422/64647350-da4e1580-d3e6-11e9-868a-981d8cb0f465.png)

Do I need to get rid of libk4a1.1.1 first? If yes, How?

[2019-09-10 21:01] skalldri commented on #71
Yes, you need to uninstall the old Azure Kinect SDK first.

`sudo apt purge libk4a1.1-dev libk4a1.1` should remove all traces of the
old SDK.

On Tue, Sep 10, 2019 at 1:20 PM amamamahmood <notifications@github.com>
wrote:

[2019-09-10 21:52] RoseFlunder opened #72 "Switch to the c++ wrapper for playback"
**Is your feature request related to a problem? Please describe.**
To resolve deprecation warnings and also for a less verbose code we should switch to the new c++ wrapper for the playback-api that came with sensor sdk version 1.2.0.

**Describe the solution you'd like**
Use k4arecord/playback.hpp instead of k4arecord/playback.h

[2019-09-11 00:17] #72 closed, assigned to nobody

[2019-09-11 00:28] skalldri commented on #70
@msr-peng can you try the latest updates to the ROS driver and see if this fixes the issue for you?

[2019-09-11 01:41] msr-peng commented on #70
Thanks. I'll try the latest updates of ROS driver.

[2019-09-11 01:44] msr-peng commented on #70
Hey skalldri, I just tried the laster ROS driver, now `driver.launch` can run successfully!

The new little issue is the loop time warning. The acutally loop time is a little longer than expected max loop time. Is it okey for the rgbd image quality? Is there any way to shorter the loop time, make it below the expected max loop time

[2019-09-11 23:00] #70 closed, assigned to nobody

[2019-09-11 23:23] skalldri commented on #70
@msr-peng that loop timer warning is letting you know that the main sensor loop isn't hitting framerate, so frames from the camera might be dropped and you might see higher latency in the output images. For some reason, this is reasonably common when using the colorized pointcloud mode: it seems to just be taking a really long time to produce a colorized point cloud.

[2019-09-12 00:21] RoseFlunder commented on #70
@skalldri
I have measured that the loop that fills the point cloud message using the buffer from the point cloud image is taking longer than the creation of the point cloud image from the sdk.
Do you know a way to speed up this loop?
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/src/k4a_ros_device.cpp#L587

[2019-09-12 00:40] RoseFlunder commented on #56
@skalldri
So like I already mentioned in another issue I did some time measuring.
In this gist I just pasted the modified part of the rgb point cloud method together with the output.
I don't know if ROS Time is very accurate but we can clearly see that the SDKs methods are fine performance wise.
Whats really dragging down is the loop that creates the message:
https://gist.github.com/RoseFlunder/0c

[2019-09-12 01:05] RoseFlunder commented on #70
@msr-peng
To get a better performance build the package with:
catkin_make -DCMAKE_BUILD_TYPE=Release

[2019-09-12 17:51] shuntaraw opened #74 "Dynamic reconfiguration of RGB camera parameters"
**Is your feature request related to a problem? Please describe.**
Currently camera parameters (brightness, exposure, contrast, etc) cannot be adjusted. It would be nice if these parameters can be changed at run time.

**Describe the solution you'd like**
Implement [dynamic_reconfigure](http://wiki.ros.org/dynamic_reconfigure) interface to call the [color sensor control commands](https://github.co

[2019-09-12 17:57] skalldri commented on #70
@RoseFlunder lets consolidate this discussion in the thread for #56.

[2019-09-12 18:00] skalldri commented on #56
Thanks for digging into this issue RoseFlunder. I suspect the iterator used to fill up the PointCloud2 message is very expensive. There is almost certainly a faster way to copy the data from the SDK structures into the PointCloud2 message.

Unfortunately, I'm on vacation until the 25th so I won't be able to make much progress on this until I get back.

[2019-09-12 21:56] skalldri commented on #74
This seems like a useful feature to have. Triage approved.

[2019-09-12 22:25] skalldri commented on #67
Root caused to an issue in the Azure Kinect Sensor SDK. This will be fixed when https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/672 is fixed.

[2019-09-12 22:25] skalldri commented on #37
Root caused to an issue in the sensor SDK. This bug will be fixed when https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/672 is fixed.

[2019-09-16 16:32] zchenpds opened #75 "Publish body index map in ROS"
**Is your feature request related to a problem? Please describe.**
No body segmentation result is provided by this driver.

**Describe the solution you'd like**
Publish [body index map](https://docs.microsoft.com/en-us/azure/Kinect-dk/body-index-map) in ROS if `body_tracking_enabled=true`

**Describe alternatives you've considered**
(None)

**Additional context**
![](https://docs.microsoft.com/en-

[2019-09-18 21:24] shuntaraw opened #76 "Use ImageTransport::advertiseCamera()"
**Is your feature request related to a problem? Please describe.**
This is a proposal of a minor refactoring to clean up code.

**Describe the solution you'd like**
Replace the pairs of `ImageTransport::advertise<Image>()` and `NodeHandle::advertise<CameraInfo>()` in `k4a_ros_device.cc` with single calls to `ImageTransport::advertiseCamera()`. If there is a technical reason not to do this, please

[2019-09-19 14:12] menonmeg opened #78 "ROS Drivers crash when using export ROS_MASTER_URI and export ROS_HOSTNAME"
**Describe the bug**
So I have gotten the Azure Kinect working on Ubuntu 16.04 without any issue aside from the issue of the image processing thread running behind:

[ WARN] [1568899738.323945977]: Image processing thread is running behind.
Expected max loop time: 0.200000000
Actual loop time: 0.214532173

I want to use the Azure Kinect on a mobile robot's ros master, and thus perform the steps ou

[2019-09-19 15:59] RoseFlunder commented on #78
I use this package myself in a multi machine setup without any problems.
PC1: Running ROS Core + Connected 2 azure kinects and for each Kinect running an instance of the kinect ros driver node
PC2: Connected 1 kinect and running the driver node with ROS Master URI to PC1

So your problem is related to something else.
1. Which version of azure kinect sensor sdk installed?
2. How are you starting th

[2019-09-19 16:46] menonmeg commented on #78
Hello, thanks for the quick response!
1. Which version of azure kinect sensor sdk installed?
I am using version 1.2 of the azure kinect sensor sdk
2. How are you starting the kinect ros driver?
I am using the "roslaunch azure_kinect_ros_driver driver.launch" command to run the node as found in the launch folder of the azure kinect ros driver package
3. Are you using a specific launch file?
No, I a

[2019-09-19 17:14] RoseFlunder commented on #78
Okay. Looks fine.
Are you running any other nodes that subscribe topics from the azure kinect ros driver and if so which topics?

What happens when you only start roscore on the mobile robot without any another nodes and then run the azure kinect ros driver from the other pc?

If it still dies, what happens when you set the ROS_MASTER_URI to http://localhost:11311?
Does it work then?

[2019-09-19 19:23] menonmeg commented on #78
I am running other nodes but I do not think they subscribe to any of the topics from the Azure Kinect Ros Driver yet. So I tried killing the ros master on my mobile robot and the just running ros core as you suggested and it seems to be not crashing anymore! But I do need to have everything else running, so is there somewhere I should look to figure out what is causing conflict and killing the kin

[2019-09-19 20:33] menonmeg commented on #78
I got it! I added in a namespace of "kinect" to the driver.launch file and that solved the issue. Thanks for the help.

[2019-09-19 21:43] RoseFlunder commented on #78
Nice that you figured it out.
I have two more tips for you:
1. If you don't want to modify any files so that can pull new changes in more easily you can specifiy a namespace like this:

and you can overwrite any parameters from the launch file with command line parameters, for example:

2. If you want to get a better performance you should build the package with:

This really speeds up the image p

[2019-09-20 13:24] #78 closed, assigned to nobody

[2019-09-23 13:30] RoseFlunder opened #79 "Add a new parameter to control the body tracking smoothing between frames"
**Is your feature request related to a problem? Please describe.**
Since body tracking SDK version 0.9.2 there is a method to set the smoothing factor between 0 (no smoothing) and 1 (full smoothing). The default is 0.0 since 0.9.3 and it should be possible to change this value for the node.

**Describe the solution you'd like**
Add a parameter for the node to override the default value of 0.0.

[2019-09-24 22:15] RoseFlunder commented on #75
@zchenpds
I just created a pull request which adds a topic for the body index map.
You could test if this meets your requirements.

[2019-09-25 00:36] zchenpds commented on #75
@RoseFlunder
Thanks a lot for creating the pull request. I should have made it clearer in the **Additional Context** that I wanted to use the index map to find from the depth image a group of points corresponding to a particular body segment of a particular body. Although an RGB index map is visually pleasing, it's costlier to query from an RGB index map whether a depth image pixel belongs to a pa

[2019-09-25 00:57] RoseFlunder commented on #75
This was just my initial idea to have the same color as the body markers for the joints have and you provided an example RGB image in the additional context :D
But I have no problem in changing it up.
I can change it a mono8 image.
What about the values? Body IDs & 255 as background?
I think body IDs make more sense than just the raw index to have a relation to the markers?
What do you think?
But

[2019-09-25 01:14] zchenpds commented on #75
Sorry for the confusion. Thanks again for your help.

[2019-09-25 01:22] RoseFlunder commented on #75
No problem. I am glad to help.
You can try the updated pull request again and give feedback if this matches your requirements now.

EDIT: Just pushed a tiny fix for a typo that sneaked in before.

[2019-09-30 05:18] skalldri commented on #79
Fixed by #80

[2019-09-30 05:18] #79 closed, assigned to nobody

[2019-10-01 21:02] skalldri commented on #75
Fixed by #81

[2019-10-01 21:02] #75 closed, assigned to nobody

[2019-10-01 21:04] skalldri commented on #45
This was previously fixed.

[2019-10-01 21:04] #45 closed, assigned to nobody

[2019-10-02 16:55] skalldri opened #82 "IMU is not compliant with REP-145"
**Describe the bug**
The IMU exposed by the ROS driver is not compliant with [REP-145](https://www.ros.org/reps/rep-0145.html).

**Expected behavior**
To my understanding, the correct way to do this would be:

- Emit the IMU data (gyro and accelerometer data) exactly as it comes off the sensor: the same axis, the same polarity
  - Emit this data in a co-ordinate frame “imu_frame”. This is the sens

[2019-10-07 17:35] t-walker-21 opened #83 "Issue with Camera Extrinsic Calibration"
**Describe the bug**
We are attempting to use your Kinect Azures in high precision robotic sensing and manipulation projects. Specifically, we are trying to find rigid spatial transforms from multiple kinect cameras to an arbitrary fixed frame, i.e. extrinsic calibration between camera frame and fixed frame. We use a charUco board in conjunction with openCV to calculate this transform. In order to

[2019-10-08 19:41] ooeygui opened #84 "[Crash] on exit when camera fails to start."
**Describe the bug**
If the camera fails to start for some reason, the shutdown path crashes.

**To Reproduce**
Steps to reproduce the behavior:
If you do not have a failing camera, simply step over the device->startCamera(), and allow the process to exit.

Crash occurs here:
[code]

**Expected behavior**
Graceful exit.

[2019-10-08 19:56] #20 closed

[2019-10-08 20:00] ooeygui commented on #83
This is an amazing write up.

[2019-10-10 21:33] skalldri commented on #32
Dupe of #56

[2019-10-10 21:33] #32 closed, assigned to nobody

[2019-10-10 21:33] skalldri commented on #56
Going to start having a look at this.

[2019-10-14 08:13] helenol commented on #83
Hi @t-walker-21, just to clarify, are you using the output from TF for the extrinsics, or the 4x4 transformation matrices printed on start-up from the driver?
If the first, then I am currently investigating (and fixing...) a slew of issues with the TF output.

[2019-10-14 08:43] helenol opened #85 "Transforms published to TF do not match physical sensor"
**Describe the bug**
This is related to: https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/82 and https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/807 and also some new exciting problems.

I am currently working on a PR with a fix, but would like to document all the things that are wrong.

Here is an image of the TF frames of the melodic branch of the 3 sensors relative to the

[2019-10-14 10:00] helenol commented on #57
@RoseFlunder Great about the new features provided in the SDK! However, there's a big potential problems with your proposed solution: the IMU and image time-stamps will then drift apart, negating the whole purpose of the of having an IMU on the same hardware clock as the image exposure.
I think a better solution would be to provide access to the mapping between the system and device time through t

[2019-10-14 10:08] helenol commented on #85
#42 is also related (driver crash when depth stream is disabled), as this is because of unnecessary calls to `convert_3d_to_3d` rather than just using the translation in the calibration (which can be accessed without the depth stream being enabled): https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/src/k4a_calibration_transform_data.cpp#L233-L239

[2019-10-14 12:58] helenol commented on #83
At any rate, check out #85 and #86 and see if they perhaps go some way towards resolving your problem. :)

[2019-10-14 17:45] #42 closed, assigned to skalldri

[2019-10-14 17:45] #85 closed, assigned to nobody

[2019-10-14 17:45] #82 closed, assigned to nobody

[2019-10-14 17:46] ooeygui commented on #83
Thanks @helenol. @t-walker-21, Could you validate based on Helen's changes?

[2019-10-14 17:48] ooeygui commented on #67
This bug was dependent on an SDK change which was corrected.

[2019-10-14 17:48] #67 closed, assigned to nobody

[2019-10-14 17:49] ooeygui commented on #37
The dependent issue in the SDK has been fixed. Resolving.

[2019-10-14 17:49] #37 closed, assigned to skalldri

[2019-10-14 22:52] RoseFlunder opened #87 "Add confidence values for body tracking joint data"
With the new body tracking sdk 0.9.4 each joint has a confidence value which indicates if the joint is out of range, not observed or observed:

[code]

We should publish this information together with the position of the joints.
Currently we use a marker array which can be displayed easily in RViz:
http://docs.ros.org/melodic/api/visualization_msgs/html/msg/MarkerArray.html

Each Marker has an ID,

[2019-10-15 01:28] bearpaw commented on #87
Can we use the alpha in `colorrgba` message? https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/src/k4a_ros_device.cpp#L780

[2019-10-15 07:28] RoseFlunder commented on #87
Hmm that would mean that "CONFIDENCE_NONE" joints would be fully transparent in RViz (alpha=0).
All other levels should be intransparent because of alpha >= 1.
Is this better than using the text field or even more confusing?

[2019-10-15 15:27] jeffdelmerico opened #88 "IMU Throttling for VIO"
In order to use the output of the Azure Kinect for visual-inertial odometry or SLAM, it would be useful to have the option to throttle down the IMU output in an intelligent way.  At the full IMU rate, typical VIO algorithms (e.g. ROVIO, VINS-mono) utilize a lot of compute power to process every single IMU sample, when a lower rate would provide sufficient samples.

I'm proposing to implement an op

[2019-10-15 20:44] RoseFlunder commented on #57
@helenol
I understand. I also learned that the system timestamp from the SDK is not a mapping based on the device stamp.
Instead its defined otherwise:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/include/k4a/k4a.h#L899

I guess we don't want this time right?

The device timestamp on the other hand is defined as follows:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blo

[2019-10-15 23:11] RoseFlunder commented on #87
I guess I could extend the ID, which is already a combination of body id and joint id, with the confidence level as well.

For example an ID of 1021 would mean:
body id = 1
joint id = 02
confidence = 1

ID of 12223
body id = 12
joint id = 22
confidence level = 3

The level is only 0 to 4, so one decimal place is ok
The joint id gets two decimals as before and the rest is for the body id.

Publishe

[2019-10-16 08:28] helenol opened #90 "Re-scale IR data to be usable for visual odometry"
**Is your feature request related to a problem? Please describe.**
The raw IR image is a 16-bit image where all of the values are so far in the "black" range that it is unusable by computer vision algorithms without rescaling.

Example, with illumination on:
![image](https://user-images.githubusercontent.com/5616392/66901071-46cbbe00-effe-11e9-94a5-eee056a8bad0.png)

**Describe the solution you'd

[2019-10-17 15:49] d-walsh commented on #87
Perhaps it would be good to publish two different topics. One topic for visualization and a separate topic for other nodes to interpret the BodyTracking data.

1) Visualization = MarkerArray
- Can be viewed in RViz
- Different colors for the confidence values (eg. Green, Red, Yellow)

2) Other nodes = Custom message
- Everything clearly defined.
- Enum for confidence values

[2019-10-17 15:56] RoseFlunder commented on #87
That would be optimal way if we want to introduce custom messages.
@skalldri
Whats your opinion about standard vs custom messages?

About 1: We already use different colors depending on the body ID like the simple viewer from SDK. For example body 1 = green, body 2 = red etc.

[2019-10-17 16:22] ooeygui commented on #87
I think having both options would be a good idea. If you need confidence values, subscribe to the new message; otherwise use the standard.

If we go down that path, Please do it in two different pull requests.

The first change request introducing the custom message infrastructure (including moving the current codebase down a level and adding a new node),  the second would be adding the custom mes

[2019-10-17 19:07] d-walsh commented on #87
You could also use different namespaces in the Marker message (the "ns" variable) to be able to enable/disable a subset of the markers in RViz. http://docs.ros.org/melodic/api/visualization_msgs/html/msg/Marker.html

Either separating based on Person or Confidence value?

[2019-10-18 12:32] #90 closed, assigned to helenol

[2019-10-18 17:24] t-walker-21 commented on #83
Hello @helenol and @ooeygui . Thank you for addressing my issue. I pulled your changes and repeated my experiments and got the same result. The extrinsic calibration I am referring to is the computed transform between my kinect azure and an openCV calibration checkerboard/charuco board. I am not talking about the extrinsic calibration between the color and depth sensors. My issue is that after com

[2019-10-18 17:37] t-walker-21 commented on #83
Another calibration routine we tried was using a single aruco tag to find the transform from the kinect to the base frame of a UR5 robot. To achieve this, we assign a known rigid transform from the UR5 end-effector frame to the aruco tag frame (this gives the full base_link - to - aruco transform). Using the fiducials package, we acquire the transform from camera_frame to aruco frame and, conseque

[2019-10-18 17:41] t-walker-21 commented on #83
![image4](https://user-images.githubusercontent.com/12646585/67115770-edee5800-f1ac-11e9-95e4-f45b2e532d58.png)

[2019-10-18 17:54] helenol commented on #83
@t-walker-21 reading your issue more closely now...
I think you may have hit the nail on the head there with the calibration issue. The intrinsics that ship with the camera are rational-polynomial, which *is* supported in OpenCV, but requires passing in 8 parameters to undistort/project/etc. Looking at the code in Aruco, they only support 5 coefficients as far as I can tell. Unfortunately the coef

[2019-10-22 03:05] skalldri commented on #56
EDIT:

**Never mind, the original code has a simple mistake: not calling `pcl_modifier.resize()` before trying to modify the point cloud! Using the sped-up branch helps, but still doesn't get us over the finish line. Digging further into Valgrind on the latest code.**

ORIGINAL:

Well, Valgrind seems to think that using `PointCloud2Iterator` is very expensive:

![valgrind-iterators](https://user-i

[2019-10-22 03:07] skalldri commented on #56
It's good to see that this is using `memset_avx2_erms`: that's probably the compiler optimizing the PointCloud2 alloc.

[2019-10-23 23:42] t-walker-21 commented on #83
Hello @helenol, we have obtained new intrinsics with our charUco boards and these have improved our results when repeating our experiment. Do you or @ooeygui know if the Kinect is meant to work out of the box with default intrinsics? Or is it meant to be calibrated at setup time? Its strange to me that our calibration did better than the factory.

[2019-10-25 13:12] #88 closed, assigned to nobody

[2019-10-30 04:52] msr-peng opened #95 "Is it ok to remove `joint_state_publisher` in `driver.launch` file?"
Just as the title.

Currently when launch `driver.launch`, it will default start `joint_state_publisher` node which publish topic `joint_state` (actually its message has nothing). When I incorporated Azure Kinect into my robot, it will conflict with my robot built-in `joint_state` topic. So is it ok to remove `joint_state_publisher` node in `driver.launch` file ([this line](https://github.com/micr

[2019-11-07 12:35] #53 closed, assigned to skalldri

[2019-11-07 16:54] Michae1Park opened #97 "Issue running two kinect cameras on a same machine through ROS driver"
We are running two Kinects through the ROS driver, and it seems like there is an issue connecting them through the USB. The weird part is that sometimes the cameras connect without an issue, or restarting the cameras multiple times "fixes" the problem.

We have already made usbfs adjustments following https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/485.

We are on ROS melodic and Ubunt

[2019-11-08 10:56] GabrielQuik commented on #97
### **Having a similar issue myself, I modified my driver.launch file:**
[code]
### I'm getting this error:
[code]
### But after that the camera somehow starts:
[code]
### Then I'm getting this error while the camera is still up and running, I'm getting topics only from one of two cameras even though they are both "running"
`[2019-11-08 11:46:03.299] [error] [t=6350] /__w/1/s/extern/Azure-Kinect-S

[2019-11-09 01:58] wirthual commented on #97
I had similar issues connecting to multiple devices, I am not sure if this is the actual problem but in my code I closed the device when the serial number does not match and then I could use multiple devices.
I am thinking about this part of the code:
[code]
If the serial numbers do not match, the device is not closed?
I think it would be useful if the sdk could provide a function to connect to a

[2019-11-09 02:18] RoseFlunder commented on #97
@wirthual The device should be closed by the destructor when it goes out of scope:
[See device descructor in c++ wrapper](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/include/k4a/k4a.hpp#L1092)

[2019-11-09 02:29] wirthual commented on #97
I see, thank you for pointing out. I use a variable with a scope that's not only the for loop, probably this was the reason I needed to close it explicit in my code.

[2019-11-12 20:37] bnjff commented on #57
The translator would be very useful. In our application, we need to sync the images with the proximity sensor triggering. With the current implementation, the camera's timestamps are lagging by a few hundred ms from the beginning (i.e. not just drifting over time), and the images cannot be synced correctly by message_filters. Since we're not using IMU, we solved it by reverting to the system time-

[2019-11-12 20:56] bnjff commented on #83
Hi @helenol, do you calibrate the color camera's intrinsics only or, additionally, the depth's intirinsics, color-to-depth extrinsics, etc.?

[2019-11-12 23:20] Brent-A commented on #57
FYI, for @wes-b who works on the timestamps in the SDK.

[2019-11-14 05:52] amonnphillip commented on #83
Hello, it would be great if we knew that performing our own color camera calibration was enough to solve this issue. I have spent 3+ working days trying to figure out what sounds like this exact problem.

Also are you sure the Aruco lib in opencv only uses 5 distortion coefficients. I took a look at the opencv (version 3+) code and it does look like it uses all the coefficients passed (in the undi

[2019-11-14 18:35] ooeygui commented on #83
We're currently in discussions about how to proceed. The SDK team offered these docs:
https://docs.microsoft.com/en-us/azure/Kinect-dk/use-calibration-functions
https://docs.microsoft.com/en-us/azure/Kinect-dk/use-image-transformation

[2019-11-15 01:36] amonnphillip commented on #83
Just to let you guys know, I can confirm after calibrating the color camera myself I get much better results from pose estimation.

I calibrated using OpenCV 3+ using a high quality, custom manufactured Charuco board. I use all 8 distortion parameters when estimating the pose and get the more accurate estimations of translation and rotation.

[2019-11-20 22:23] jefft0 opened #99 "Camera name for topics"
In the launch file for most cameras, there is a parameter for the camera name which is part of the topic names. I'm especially interested in the point cloud topic. I don't see a parameter for the camera name in the Azure launch file:

https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/launch/driver.launch

When I run the camera, `rostopic list` just shows /points2 without a namespac

[2019-11-20 22:53] skalldri commented on #99
I think you can launch the driver in a namespace by setting the `ROS_NAMESPACE` environment variable. For example:

`ROS_NAMESPACE=<camera name> roslaunch azure_kinect_ros_driver driver.launch`

[2019-11-21 07:14] jefft0 commented on #99
I launch the driver from another launch file. How can I modify the launch command to set the namespace?

    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
    </include>

[2019-11-21 21:35] skalldri commented on #99
The [roslaunch syntax guide](http://wiki.ros.org/roslaunch/XML/include) has the answer: use the `ns=""` XML attribute to instruct ROS to launch it in a new namespace. Like this:

[code]

[2019-11-21 23:51] jefft0 commented on #99
That works! Thanks.

[2019-11-21 23:51] #99 closed, assigned to nobody

[2019-11-22 00:16] jefft0 opened #100 "Topic for 2D depth point cloud"
The topic /points2 seems to publish the point cloud as a one-dimensional array. I see that the SDK has the function [k4a_transformation_depth_image_to_point_cloud](https://microsoft.github.io/Azure-Kinect-Sensor-SDK/master/group___functions_ga7385eb4beb9d8892e8a88cf4feb3be70.html#ga7385eb4beb9d8892e8a88cf4feb3be70) for transforming the array. But is there a topic where the Azure driver will direct

[2019-11-22 02:57] bearpaw opened #101 "3D mesh model of the azure kinect"
It might be a bit irrelevant but is there a 3D mesh model of the Azure Kinect available? Thanks!

[2019-11-22 17:15] ooeygui commented on #101
Hello @bearpaw ,
Unfortunately, due to our hardware team's policy, we are unable to provide a high resolution mesh for the Azure Kinect.
The packages includes is a low resolution model which can be used for collision, positioning and 'representational' rendering.

[2019-11-22 17:19] bearpaw commented on #101
Hi @ooeygui , thank you very much for your response. Yes I think a low resolution model is very useful for robotics application (like you mentioned for collision, positioning and 'representational' rendering).

Would you please let me know where is this low resolution model located? Thank you!

[2019-11-22 17:21] ooeygui commented on #101
It is currently constructed using boxes in the URDF. Are you looking for a stand alone model or similar?

[2019-11-22 17:26] bearpaw commented on #101
Got it, thanks! Is that the best model  publicly available (just to make sure)?

[2019-11-22 18:26] ooeygui commented on #101
While I cannot confirm the accuracy or suitability of the model, this might meet your needs - https://grabcad.com/library/kinect-4-azure-1.

I'm sorry I can't be more helpful here :-(

[2019-11-22 19:25] jefft0 commented on #100
The object passed to the point cloud callback as width 368640 and height 1 . I made a copy of the object and simply set width = 640 and height = 576 so that code will interpret the array as 2D. But is it OK to do that?

[2019-11-26 21:16] jefft0 opened #102 "Point cloud has NaN for X,Y values"
I subscribe to the point cloud topic "points2". Many of the points have X and Y values that are NaN. With other sensors, I have seen when the Z value has NaN, but the X and Y values always map out a grid. (I launch the Azure driver with rgb_point_cloud=false and depth_mode=NFOV_UNBINNED .

Is it normal for point cloud values have NaN for X and Y values? Is there a way to configure the Azure to pub

[2019-11-27 00:10] skalldri commented on #102
It's normal for these PointCloud2 messages to contain NaN values. NaN values indicate that no depth was recorded for that pixel in the image. There is no way to prevent this from happening, because these invalid values are actually coming from the sensor itself.

There are a variety of reasons the sensor might not capture a valid depth value for a pixel. Some of these reasons are documented on the

[2019-11-27 17:46] jefft0 commented on #102
Thanks for the links. I'm asking because when I call pcl::IntegralImageNormalEstimation::compute, it gives me the error "Input dataset is not from a projective device". I'm assuming this is because the point cloud is not formatted properly. Is that right?

[2019-12-04 06:48] lingfei93 opened #103 "image_proc bug for rectified depth images"
Hi, I'm using ROS Melodic on Ubuntu 18.04, running a Kinect DK.

I am encountering this very strange bug that I am able to reproduce. On commit 60789f0, when I run slam_RTABMap.launch, the rectified depth cloud that I am able to get is normal. I have attached a picture of the normal looking RTABMap cloud here. As you can see, it is relatively clean.
![non-rectified](https://user-images.githubuserc

[2019-12-04 18:08] skalldri commented on #103
That looks like a linear interpolation bug. `image_proc/rectify` seems to be using `interpolation=1` (linear interpolation) when it should be using `interpolation=0` (nearest neighbor).

Try changing this chunk in the ROS Launch file:

[code]

to this:

[code]

and see if that makes things better.

[2019-12-05 03:06] lingfei93 commented on #103
Yep, added interpolation=0 in the launch file and it seems to work fine! Should I send in a PR for this launch file? Thanks for the help. Just wondering what between the two commits caused this?

Thanks so much for the help!

EDIT:
I did some digging, and found that even in the older commit 60789f0, when using interpolation=1(which is the default value), image_proc/rectify was able to do the job.

[2019-12-06 00:51] rajk97 commented on #83
Hi @amonnphillip !

We have been trying to do intrinsic calibration for the Azure Kinect Camera for both color and depth. As I'm a beginner, I followed the calibration technique mentioned in the ros wiki at :

[http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration](http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration)

From what I understand, what it does is that i

[2019-12-06 01:01] rajk97 opened #104 "Weird layer at the top of image_view for rgb images"
Hi all,

Lately, when I'm trying to run image_view to visualize /rgb/image_raw, I'm getting a weird filter at the top that looks like below:

![image](https://user-images.githubusercontent.com/32988799/70286637-f4a34f80-1799-11ea-8876-4c10d90457f9.png)

Any idea why this might be happening? Kindly suggest. Thank you.

[2019-12-06 01:03] rajk97 opened #105 "Calibration in ROS"
Hi all!

I have been trying to calibrate the Azure Kinect following the tutorial specified at:

[http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration](http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration)

From what I understand, what it does is that it gets calibration information and then communicates with ROS service /camera/set_camera_info to change the intrin

[2019-12-15 02:53] dicaleon opened #106 "Depth values sent by ROS is significantly degraded.Please help me."
Now I am working on a project using Azure Kinect.
Our project is using ROS to send Azure Kinect’s raw color and raw depth image.
However I found the raw depth image’s resolution is significantly degraded.
It has only ten depth values in the raw depth image get from subscriber.
If I don’t use ROS, it has a lot of depth values in the depth image.

My source code is shown as below.
ーーーーーーーーーーーーーーーーーー

[2019-12-16 22:56] jefft0 opened #107 "image_proc: No output for /mycamera/depth/image_rect"
The [usage docs](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/docs/usage.md#topics) say to use `image_proc`. My Azure driver is under the namespace mycamera, so I enter:

    ROS_NAMESPACE=mycamera/depth rosrun image_proc image_proc

In RViz, I see the image for the input topic /mycamera/depth/image_raw. I see the topic listed for /mycamera/depth/image_rect, but the image is e

[2019-12-16 23:00] ooeygui commented on #107
Can you tell us more about your environment? Windows/Linux?

That error comes from the rendering of the image in rViz - the image is a file format that it cannot visualize.

[2019-12-16 23:05] jefft0 commented on #107
The environment is Ubuntu 18.04. I'm using `image_proc` for the depth image because the [usage docs](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/docs/usage.md#topics) tell me to. Should it be possible to view the image in rViz?

[2019-12-18 03:46] Guptajakala commented on #44
@shuntaraw
Why is this correct? I have the same understanding as yours

[2019-12-18 22:33] bnjff commented on #106
Your problem is likely that the depth is a float image (in meters) and opencv truncates it when you save it as PNG. Either rescale to int (e.g. from m to mm) or save it as an array without using opencv.

[2019-12-18 22:36] bnjff commented on #107
Use `image_proc/rectify` nodelet; it works. See example in `launch/slam_rtabmap.launch`

[2019-12-19 05:21] dicaleon commented on #106
Oh, I got it. You are right. Ihave solved the problem by rescaling the image to int.
Thank you very much!

[2019-12-19 05:21] #106 closed, assigned to nobody

[2019-12-19 14:25] #102 closed, assigned to nobody

[2019-12-19 14:25] #100 closed, assigned to nobody

[2020-01-10 20:23] emmanuel-senft commented on #56
Hi, I am also affected by this bug, and I was wondering if there had been any progress on that side?

[2020-01-17 18:02] helenol commented on #57
Update from some triage... Doing tests on linux between device (AKDK hardware) timestamps, system (usb bus arrival afaik) timestamps, and the constant offset from start that we currently use.
I seem to experience a drift of about 1 ms/minute between device timestamp and "real" timestamp.

Did this by comparing image system timestamp + monotonic to realtime clock offset (evaluated at that iteration

[2020-01-17 19:44] pengy8 opened #109 "Body tracking latency"
**Is your feature request related to a problem? Please describe.**
The body tracking data in the ROS driver is very useful to my application, but somehow there's about 1-second latency in the reported data. However, the data seen in the body tracking SDK is faster (about 0.25 second).

**Describe the solution you'd like**
Is there any way to improve the body tracking data latency in the ROS driver

[2020-01-20 11:26] Tarekbouamer commented on #97
I had the same issue in running two KAs at the same time, By default, Linux limits image capturing to a Max_value, in my desktop it was limited to 16 MB.

To extend the USBFS limit, I manually  moddified the grub
( **/etc/default/grub**  ) chaning ( **GRUB_CMDLINE_LINUX_DEFAULT="quiet splash"** ) to ==> ( **GRUB_CMDLINE_LINUX_DEFAULT="quiet splash usbcore.usbfs_memory_mb=1000"** ),

Update the gru

[2020-01-20 14:16] carcormir opened #110 "Wrong output from /depth_to_rgb and /rgb_to_depth topics"
Hi,

My problem is simple, after running the driver.launch file, I launch rviz to visualize the camera output. When I plot the output the color image does not match the depth image ( /depth_to_rgb or /rgb_to_depth topics).

I thought this could be a calibration issue between the ir and color cameras but I have tried other two kinect azure platforms and the same issue occurs.

This is a screenshot

[2020-01-20 18:25] #57 closed, assigned to nobody

[2020-01-20 18:29] ooeygui commented on #105
The ROS node does not currently support setting the camera info from on site calibration. It does use the factory calibration. It would be interesting to see how different on-site calibration is from the factory calibration. We would love a PR for this.

[2020-01-20 18:30] ooeygui commented on #104
This appears to be a rendering artifact, not a camera artifact. Can you attempt to view with the camera directly using the Kinect SDK?

[2020-01-20 20:55] rajk97 commented on #104
Thanks for your reply. I did try it with Kinect SDK and it didn't have a problem with it. Any idea of how we can fix this? Please comment. Thanks.

[2020-01-21 19:26] ooeygui commented on #104
@rajk97 This appears to be a rendering problem on your system - not a camera or Kinect ROS node problem.

[2020-01-21 19:26] #104 closed, assigned to nobody

[2020-01-23 10:26] carcormir commented on #97
@GabrielQuik Did you manage to solve your problem? I am also using two kinects in the same computer and get the same error and after it, both cameras work fine.

I believe it could be the way the two cameras are brought up. Every time the driver is launch, it will try to open all the devices connected to the PC no matter whether they have been already opened or not. This error does not limit the f

[2020-01-23 10:46] RoseFlunder commented on #97
To prevent this error we would need to remove the option to choose a kinect via serial number because you can only query the serial number of the device if you have opened it via the API.
Already opened devices will produce this error.

[2020-01-23 11:09] carcormir commented on #97
@RoseFlunder Thanks for your fast response.
Is there any proper clean way to launch multiple cameras and avoid this error ?

[2020-01-23 11:53] Tarekbouamer commented on #97
@carcormir can u run two kinects using K4aviewer ? do u get the same error .

[2020-01-23 11:56] carcormir commented on #97
@Tarekbouamer I open two instances of k4aviewer and I am able to run both kinects simultaneously without any errors. The problem comes when trying to launch two cameras using the ROS driver

[2020-01-23 16:03] RoseFlunder commented on #97
Well the error just means that the device that is opened by the first instances of the driver node can't be opened by the second instance, which is not a problem to worry about.
If you only want the error gone just because of asthehic reasons you could just comment out this line of code in your copy of this package:
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/bda2956ddbec3eb1f7fb2b22

[2020-01-24 06:41] carcormir commented on #97
That is what I already did, but I was not sure if there was another way.
Thanks for the help though!
Have a great weekend.

[2020-01-24 23:35] ghost opened #111 "Help need: body tracking data is not being published on one machine"
Hello All,

We have two computers both running Ubuntu 18.04 and ROS Melodic. However, one of the computers cannot publish the body tracking data (no topic is shown in rostopic list).

1) We have the Azure SDK and body tracking SDK installed successfully;

I wonder if anyone could help us in figuring out what the problems might be?

Thank you,

[2020-01-24 23:42] ooeygui commented on #111
The Body Tracking SDK requires a certain level of GPU performance. Can you identify hardware differences?

[2020-01-24 23:43] ooeygui commented on #111
The Body Tracking SDK requires minimum GPU performance. Are they the same machine category?

[2020-01-25 00:27] ghost commented on #111
No they are not. The computer that can publish the body tracking data is a very high-end computer (about $9000 in total). The one that doesn't publish is about $1000.

So if the hardware doesn't satisfy the minimum running requirement, the data is not published? Please correct me if I'm wrong. If that is the case, I wonder what would be the minimum requirement of the GPU to publish the body tracki

[2020-01-25 00:36] ooeygui commented on #111
Here are the [hardware specs required for the Kinect](https://docs.microsoft.com/en-us/azure/Kinect-dk/system-requirements). The Body Tracking SDK requires a later generation Nvidia GPU and a dedicated *USB3 Port*.

[2020-01-27 16:55] ghost commented on #111
Thank you for the clarification. The lower-end PC has a USB 3.0 port. I'm kind of curious, if the PC doesn't meet the minimum requirement, why the topic is not published at all?

Thanks.

[2020-01-27 17:40] RoseFlunder commented on #111
Hi,
which versions of the respective SDKs did you install?
I just updated the CMakeLists.txt to the current version numbers (1.3.0 for sensor sdk and 1.0.0 for body tracking sdk) in this branch in my forked repo:
https://github.com/RoseFlunder/Azure_Kinect_ROS_Driver/tree/feat/bump-sdk-versions-1.3-1.0

Maybe you could make sure that these versions are installed via "apt list --installed | grep k4

[2020-01-27 23:33] ghost commented on #111
Thank you all. Updating the lib to the most current version seems to solve the problem. FYI, the graphics board we have is NVIDIA Corporation GP107GL [Quadro P1000] and I can confirm the data can be published via the topic body_tracking_data

[2020-01-27 23:33] #111 closed, assigned to nobody

[2020-01-28 01:41] ghost opened #113 "questions regarding the mapping between joint NAME and marker id (body_tracking_data)"
Hello all,

I'm trying to get different joint positions in the camera frame based on the body tracking data. I wonder what would be the mapping between the marker ID and **joint NAME**? **For example, if I have 120 as the marker ID, what would be the joint name?** (I know the marker ID is 20 based on the discussion [here](https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/87)  )

I'm read

[2020-01-28 10:52] RoseFlunder commented on #113
When using Body tracking SDK 1.0.0 there should be 32 markers for each person (joint id 0 to joint id 31).
In example ID 100 to 131 for the person with body id 1 . 200 to 231 for the person with body id 2 etc.

Joint id = Marker id % 100
Example: marker id 120 means body id 1 and joint id 20. According to the docs this is the "Ankle left" joint.

If you have less joints you may have installed an o

[2020-01-28 17:21] ghost commented on #113
Thank you. I have updated my body tracking lib and now I have 32 markers. So is it safe to assume for a given marker ID, the corresponding joint can be found based on this mapping [(`here`](https://docs.microsoft.com/en-us/azure/kinect-dk/body-joints))? For example, marker ID 102 means SPINE_CHEST.

Appreciate your quick response.

[2020-01-28 17:40] RoseFlunder commented on #113
Yes thats correct.
We use the body id and joint id from the sdk to calculate the marker id and you can always reverse the calculation to get the original body id and joint id from the sdk as explained.

[2020-01-29 00:07] #113 closed, assigned to nobody

[2020-01-29 01:32] ghost opened #114 "Question: how to get depth value from pixel location of RGB image?"
Hi All,

Basically I'm confused about how the data is stored in the the following three topics:  /depth/image_raw, /rgb/image_raw and /rgb_to_depth/image_raw

1)  /depth/image_raw has the data type sensor_msgs/Images [here](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/Image.html).  Based on the definition of sensor_msgs/images, I couldn't figure out where can I store the depth information.

[2020-01-29 05:33] skalldri commented on #114
1. In a `sensor_msgs/Image`, the `data` field is a byte array containing data for all the pixels in an image. The thing is, images come in many varieties. Maybe it's just grayscale, so it only has one channel per pixel. Maybe it's full color, so it has three channels per pixel? Or maybe it's not a color image at all, it's a depth map (like `/depth/image_raw`). And when you know how many channels a

[2020-01-29 17:00] ghost commented on #114
Thank you so much for this detailed explanation. I should buy you lunch man lol. Really appreciate it.

[2020-01-29 17:00] #114 closed, assigned to nobody

[2020-02-05 21:51] ghost opened #115 "Support property specifying GPU to bind to."
Hello,

My PC just installed another GPU for the Azure Kinect. I wonder if I need to change some parameters of this ROS package to tell the SDK which GPU it should use?

Currently if I run nvidia-smi I have the following results:
`+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.33.01    Driver Version: 440.33.01    CUDA Version: 10.2     |
|--------

[2020-02-05 23:19] RoseFlunder commented on #115
As far as I know you can only specify which GPU will be used for the Body Tracking SDK.
To do this you will need to change the code in this line because the node itself doesn't provide a parameter for this yet:
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/src/k4a_ros_device.cpp#L305

The [create()](https://microsoft.github.io/Azure-Kinect-Body-Tracking/release/1.x.x/classk4abt

[2020-02-06 03:06] ooeygui commented on #115
Thanks @RoseFlunder for answering on this. I would appreciate a pull request on this topic - I'm unable to test multi-gpu scenarios at the moment.

[2020-02-06 19:47] ghost commented on #115
I just tested it with the following code as suggested by RoseFlunder:
[code]
I specifically put 0(default) for testing based on the discussion [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/260). However, I run into the following errors:

[code]

I'm curious why the selection of GPU would cause an error (even when I use the default setting). I used the driver.launch with the de

[2020-02-06 20:20] ooeygui commented on #115
I'm asking the Azure Kinect SDK team to take a look at this.
(I'm on the Microsoft Edge Robotics team who maintains the ROS connector; but not the SDK itself)

In the mean time, I suspect that you need to change the ROS parameters for the depth in order for Body Tracking to work.

[2020-02-06 20:21] RoseFlunder commented on #115
Did you change it exactly at the line I linked?
Just asking because maybe you pasted the code before the `calibration_data_.k4a_calibration_` is correctly initialized.

I have only a single GPU and can confirm that is working when using device id 0 (my only valid device id).
[code]
If I set a wrong device id like 1, I will get an expected Cuda error:
CUDA failure 10: invalid device ordinal

Edit:

[2020-02-06 21:47] ghost commented on #115
I believe I have put them into the correct position. However, I could be wrong (my major is mechanical). I have uploaded the k4a_ros_device.cpp file [here](https://drive.google.com/open?id=1EpYOWo36_Mpl7z4KzKxstcEloxQb66Gd)

Starting from line 301, I have the following:
[code]

Also, I have tried different ros parameters for depth_mode and they all give the same error.

[2020-02-06 21:50] RoseFlunder commented on #115
Looks good to me.
Sorry, I can't reproduce the error.
Does the error still happen if comment out this line?
`k4abt_config.gpu_device_id = 0;`
Because then it would just be the default config which is also used if don't pass a config to the create method of the tracker.

[2020-02-06 22:29] ghost commented on #115
I just unplugged the camera from my PC and then re plugged it back. The problem seems to be solved.
However I run into another problem. Here is my current graphics card:
[code]
When I set the gpu_device_id = 0, the body tracking result seems to be very responsive and the nvidia-smi shows the following:
[code]

However, when I set the gpu_device_id = 1, the body tracking result seems to be much slo

[2020-02-06 22:45] RoseFlunder commented on #115
Hmm I can't really test anything because I only have a single GPU, but from the looks of it, it seems like GPU device ID 0 in the SDK may use the GPU the nvidia-smi output lists as 1 and SDK GPU device ID 1 may be the one nvidia-smi lists as 0.
This is my guess because if you set it to 0, nvidia-smi prints out that GPU 1 is also used from the node.

EDIT:
You can test on which GPU the body trackin

[2020-02-08 21:14] vargasjona commented on #97
Hi @Michae1Park @carcormir , did you solve it? I have same problem when I try to open second Kinect camera?

[2020-02-18 00:26] ghost opened #116 "Questions: how to capture/store the depth image for extrinsic calibration"
Hello,

Currently we are trying to calculate the transformation matrix between the camera frame and a given fixed frame. I took a look at this issue ([here](https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/83)) and the author shared his repo where his depth images [here](https://github.com/t-walker-21/extrinsicCalibration/tree/master/azureImages/depth) are stored as .npy.

1) When I use

[2020-02-28 06:28] tuan97anton opened #117 "Launch camera false when run command ssh on different PC"
### Describe the bug

- I have 2 PC Linux ( Ubuntu 18, ROS Melodic ). PC 1 ( I58200, ram 16GB ) connects directly with camera Azure kinect , PC 2 ( my laptop ) connect to PC 1 through SSH .

- I run cmt : `roslaunch azure_kinect_ros_driver driver.launch`

- If I run cmt above on PC 1 , It work . But I run cmt above on PC 2 ( my laptop )  connect to PC 1 through SSH, It error : Failed to start came

[2020-02-28 11:03] RoseFlunder commented on #117
Try setting the "DISPLAY" environment variable after connecting via ssh.
Before running roslauch execute:
export DISPLAY=:0

[2020-02-29 03:24] ooeygui commented on #107
Per @bnjff's note

[2020-02-29 03:24] #107 closed, assigned to nobody

[2020-03-02 08:22] tuan97anton commented on #117
I tried and It work. Thank you very much ! :))

[2020-03-11 03:22] tuan97anton commented on #117
I'm sorry . I still cannot start the Azure kinect camera via SSH (the error code is still as I said above). Although, I have added export DISPLAY=:0 in ~ / .bashrc. My camera is connected to the PC on the Robot and it does not have a screen. But , when i connected PC with a screen , I can again start camera via SSH .

[2020-03-11 11:49] RoseFlunder commented on #117
As far as I know the bashrc environment variables will not be set when connecting via ssh.
Try to set the display variable explicitly after connecting via ssh with the export command.

[2020-03-11 19:18] eric-schleicher opened #118 "documentation: clarification (SDK alternate installation with ROS Driver)"
Regarding the following instructions for building the ros driver, after reading it's not exactly clear what/which parts of the AzureKinectSensorSDK need be copied over and in which state (built or not)

(edit) I can't use the MSI/binaries and have to build the SDK locally...

https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/docs/building.md

says:
[code]
At this point i have the A

[2020-03-11 22:16] RoseFlunder commented on #118
You don't need to copy anything if you just install the SDK with the .msi on Windows or via APT on Ubuntu.
The described procedure with the ext folder is just for cases when you can't install the SDK.

Haven't tried it out myself yet but I would guess you need to copy the "bin" & "lib" folder from for example on windows:
"C:\Program Files\Azure Kinect SDK v1.3.0\sdk\windows-desktop\amd64\release"

[2020-03-11 22:39] eric-schleicher commented on #118
Sorry my original question wasn't clearer (edited),  I have to install the SDK manually (can't use MSI/Binaries).  So I've done that completely and can run the viewer from the build/bin.

Since there isn't a clear mapping between the folders to understand what to bring over, still not sure what to copy/bring.

[2020-03-12 00:45] ooeygui commented on #118
The SDK provides a licensing agreement refers to REDIST.txt which describes the files which may be redistributed. We don't want to replicate that here because the SDK is the source of truth.

I hope that helps.

[2020-03-12 04:29] tuan97anton commented on #117
I tried : `export DISPLAY=:0` , and I check : `echo $DISPLAY` ( result :0 ) . But I run : `roslaunch azure_kinect_ros_driver driver.launch` . It don't work , the error code is still as I said above .

`[2020-03-12 11:26:05.264] [error] [t=3220] ../src/dewrapper/dewrapper.c (154): depth_engine_start_helper(). Depth engine create and initialize failed with error code: 204.
[2020-03-12 11:26:05.264]

[2020-03-12 10:30] RoseFlunder commented on #117
Could you check the value of the display variable when the screen is connected?

[2020-03-13 10:17] bryantaoli opened #120 "[Feature] Support the Microphone Array"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-13 14:47] vargasjona commented on #103
Hello everyone I am using rectify_test.launch and I have same result in pointcloud. Some ghost appear in final pointcloud and there are more when sun light is present. They should be ground points but they appear in the air. I have already interpolation = 0

    <node if="$(arg depth_rect)"
          pkg="nodelet" type="nodelet" name="rectify_depth"
          args="load image_proc/rectify manager

[2020-03-13 17:28] ooeygui commented on #120
The focus of the ROS node was navigation and manipulation.

If you are interested in Microphone projections, let's have a conversation.

[2020-03-13 22:43] bryantaoli commented on #120
Yes, I am very interested in Microphone projections. This is because the microphone array can detect the object making the sound while navigating. If we calibrate the position of the sound object, we can use the microphone array signal to locate and then navigate. This is the reason why I bought k4a, but after installing the ros driver, I found that the ros driver does not support microphone array

[2020-03-13 23:11] ooeygui commented on #120
Can you share if this is this for a personal project, research project or commercial deployment?

[2020-03-13 23:14] bryantaoli commented on #120
Yes I can. It is a research project. We want to use the k4a to locate and navigate.

[2020-03-13 23:20] ooeygui commented on #120
Windows or Linux?

[2020-03-13 23:33] bryantaoli commented on #120
Linux, more precisely ROS Melodic

[2020-03-16 06:40] lingfei93 commented on #103
Hi @jonra1993, your issue seems slightly different from mine. My random dots seem to be concentrated from my camera. I'm not sure about yours? They seem to be more distributed. I have noticed that the Kinect DK does seem to have a few random points past the stated range though.

Good luck, anyhow!

[2020-03-18 01:50] tuan97anton commented on #117
yes. Icheck :  echo $DISPLAY  -->result :0

[2020-03-22 10:04] roelofvandijk commented on #120
@ooeygui, Thanks for taking up this conversation. I would like to strongly second this feature request!

If the Azure Kinect is to be used as a fairly complete 'robot head', access to the microphone array would be valuable (Ubuntu 18.04, ROS Melodic, telerobotics/telepresence research project).

@bryantaoli: I would be very interested if you want to continue the conversation on how to best capture

[2020-03-22 10:17] bryantaoli commented on #120
Yes, I also think it is not difficult to get the audio in Azure Kinect ROS node, but I would like to get the officially support.

[2020-03-23 01:58] tuan97anton commented on #117
@RoseFlunder
Thank your support ! I found my issues . After I turn on `automatic login` on ubuntu and `export DISPLAY=:0` , I can start camera via SSH .

[2020-03-23 01:59] #117 closed, assigned to nobody

[2020-03-23 12:13] RoseFlunder commented on #117
Thanks for your feedback.
That makes sense. I was trying to reproduce it but I already had automatic login enabled so I didn't ran into this issue.
The X-Server is needed for open gl and will be started at login I think.

[2020-03-23 13:18] lamer-afk opened #121 "[melodic][Kinect v4a][rtabmap]Did not receive data since 5 seconds!"
Device: kinect v4 (v4a)
Command:  roslaunch azure_kinect_ros_driver slam_rtabmap.launch

launch file : [launch](https://raw.githubusercontent.com/microsoft/Azure_Kinect_ROS_Driver/melodic/launch/slam_rtabmap.launch)

source code:
- [kinect v4  ros wrapper](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/launch/slam_rtabmap.launch)     branch[melodic]
- rtabmap      branch[melodic

[2020-03-24 17:03] ooeygui commented on #120
Just to confirm the ask: You'd like the Azure Kinect to output Audio samples like the audio_common pacage? (https://github.com/ros-drivers/audio_common/blob/master/audio_capture/src/audio_capture.cpp)

[2020-03-25 00:26] bryantaoli commented on #120
Yes, I'd like the Azure Kinect to outputu Audio samples like the audio_common pacage which is a third-party audio development kit that implements audio drivers and related ROS message mechanisms.

[2020-03-25 00:26] bryantaoli commented on #120
Yes, I'd like the Azure Kinect to output Audio samples like the audio_common pacage which is a third-party audio development kit that implements audio drivers and related ROS message mechanisms.

[2020-03-25 00:55] star0w commented on #120
I occurred the same problem since the kinect ros driver cannot provide access to Microphone array,which is necessary for my research in linux

[2020-03-25 03:06] ch2000pro commented on #121
same problem , how is it going?

[2020-03-25 20:48] eric-schleicher commented on #118
Thanks for the info, but it didn't.
I was hoping for a pseudo steps explaination since the current documentation doesn't clearly outline whether the whole SDK should be included, or just the files.  I'm sort of inferring from your response, that once the SDK is build (elsewhere) the files from the REDIST.txt can be copied into the /ext folder structure...   but it's still ambiguous.

I tried to br

[2020-03-30 09:56] SladeLu opened #122 "Can I use K4Arecord in ROS driver to generate a .mkv file?"
I need to synchronize azure with my other sensors. So I am wondering if any implements to act like k4arecord in AZURE_KINECT_SDK but controling by ROS nodes to start recording and create a .mkv file with the same timpstamp in ROS.

[2020-03-30 17:06] ooeygui commented on #122
I'm sorry, I don't follow your request.

[2020-03-30 22:15] tkircher commented on #118
@eric-schleicher I have the ROS node running on arm64 on a Jetson Nano. It requires rebuilding ROS completely from source against the system OpenCV and making a few source changes along the way.

[2020-03-31 02:33] zchenpds commented on #122
I am also interested in this feature. I guess what we want is the capability of playing back a .mkv file in synchronization with a bag file.

Maybe we could add a parameter `recording_enabled` to allow the user of this driver to optionally record (as a .mkv file) the captures and/or IMU samples plus, e.g., their associated ROS timestamps (or some time offset). The recorded ROS timestamps will enab

[2020-04-02 22:14] tkircher opened #123 "Requesting official support for Jetson Nano (Jetpack 4.3)"
Now that SDK 1.4 supports Jetson Nano officially, it would be nice to have official ROS package support here. This ROS driver does not build under the repository version of ROS in Jetpack 4.3. The system version of OpenCV is 4.1.1, and a repo version of OpenCV 3.2 dev can't be installed alongside ROS. So in order to get this built, [significant steps](https://github.com/ros-perception/vision_openc

[2020-04-02 22:24] ooeygui commented on #123
Thank you for the request. We're focusing on deployment blockers at the moment, and will take on new behaviors as time permits. I'm adding the help wanted flag in case someone can get to this sooner.

[2020-04-06 06:58] carcormir opened #124 "Unable to launch multiple cameras in custom order"
**Describe the bug**
I have multiple cameras (6) connected to one PC. I am only able to launch without any errors when I launch the cameras in the same order that k4viewer shows them on the list of devices section.

Let's say I have 2 cameras showing with this order on k4aviewer:
sensor_sn = 0000000 (camera 1)
sensor_sn = 11111111 (camera 2)

If I launch the ROS driver of camera 2 and then of came

[2020-04-07 11:26] carcormir opened #125 "Random crash happens after topic subscription"
Hi,
I am able to initialize the camera driver without a problem. However, as soon as I have a node subscribing to one of the topics, the driver crashes. Sometimes it happens and sometimes is does not.
Also, if I have to sensors launched with independent drivers and in their own namespace, sometimes one of them or even both may crash when a node subscribes to one of the topics.
For example:
Cam1 pr

[2020-04-07 19:57] ooeygui commented on #125
This error is coming from the Kinect SDK. Are you able to run multiple cameras with the SDK directly?

[2020-04-07 20:01] carcormir commented on #125
I can open two instances of k4aviewer and open two cameras, yes.
I can also launch two cameras with the ROS driver but as I mentioned the problem comes when subscribing to any of the topics like rgb/image_raw or rgb/image_rect_color, among others.
But I had to increase the usb memory as suggested in other issues.

[2020-04-08 08:15] carcormir commented on #125
Some extra information:
When replicating the same problem on a different computer (a laptop that has two controllers), the issue only appears when after launching both cameras with independent launch file, if one of them is stopped  the other camera crashes (sometimes) with the same error as mentioned before, but otherwise no errors.

I was wondering if there could be an issue with the way the cam

[2020-04-09 02:26] star0w commented on #120
hi，I‘m interested in how to use the audio capture driver (or second ROS node) via pulseaudio since the kinect don't have ros node for mic.  can u share me with some kind of demo if possible?

[2020-04-09 13:44] roelofvandijk commented on #120
Hello @star0w, here is a brief recording example: try the python library [sounddevice](https://python-sounddevice.readthedocs.io/en/0.3.15/), use `sounddevice.query_devices()` to get the kinect index, `sounddevice.query_devices(kinect_index)` for information about the kinect (e.g. sample rate). and then use `sounddevice.rec(seconds=5, channels=7, device=kinect_index, blocking=True, sample_rate=480

[2020-04-09 17:45] ooeygui commented on #120
Thank you all for the input on this. As our team owns ROS on Windows and many other ROS solutions, we will take this feedback and fold it into our workstream and prioritize it appropriately. Based on that backlog, the earliest we will be able to start working on it it is May 2020.

[2020-04-09 17:46] ooeygui opened #126 "Support Multi-camera setup"
We have a number of requests for multi-camera setup support. While it has been plumbed through, it doesn't work in all cases. This is a task to make it work and a supported scenario.

We will be duplicating all efforts to this task.

[2020-04-09 17:48] ooeygui commented on #124
Thank you for the report. I'm duplicating to the *official support* task so we can combine the workstream.
https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/126

[2020-04-09 17:48] #124 closed, assigned to nobody

[2020-04-09 19:17] ooeygui commented on #121
Looking at this during our April sprint.

[2020-04-11 06:01] lamer-afk commented on #121
Thanks,
waiting for your good news

[2020-04-13 15:45] anastasiabolotnikova commented on #56
Hello, glad to know that this issue is getting attention and already started to be investigated. Thanks @RoseFlunder @skalldri  for sharing your findings!

This is indeed a limitation of the current driver implementation that should be addressed to speed up the loop cycle. Both `fillColorPointCloud` and `fillPointCloud` could be much faster if going over the entire point cloud sequentially point b

[2020-04-13 16:41] ooeygui commented on #56
Hi All,
We Azure Kinect to address a few performance related issues, as well as Migrating to ROS2 on our backlog, but likely won't be able to start working on it until the summer.

[2020-04-15 09:31] carcormir commented on #125
After trying multiple things, I manged to make it work when reducing the resolution from 1440P to 720P when launching the drivers. This removes the error and also a warning that might be the cause of the issue.
The warning message is the following:
`Initializing or re-initializing the device to realtime offset: 1586942326144821792 ns`

Even though I solved my problem it was only temporary fix sinc

[2020-04-15 19:46] ooeygui commented on #125
Is this for a commercial or industrial project? Can you share details?
My team won't be able to dig into this until May.
We offer an escalation path through http://aka.ms/ros/support, if this is critical - it activates another team.

[2020-04-16 07:16] carcormir commented on #125
Hi @ooeygui,
Thanks for your reply.
In fact this is part of a commercial/industrial project. The issue will become critical very soon since we need to use multiple cameras for many of our solutions.

**Description**:
We have one PC, 6 Kinect Azure and two robot arms performing different tasks.
The information from the Kinects go through different ML algorithms (TensorFlow models) and the output, c

[2020-04-16 16:37] ooeygui commented on #125
I'm going to see if I can find someone from the Azure Kinect SDK team; although they do not have experience with the ROS codebase.

[2020-04-17 05:27] bgyooPtr opened #127 "opencv version issue"
ROS melodic's cv_bridge library uses the opencv 3.2 version.
However, when I build Kinect Azure with opencv 3.2, I get the following error.

k4a_ros_device.cpp:(.text._ZN2cv3MatC2EiiiPvm[_ZN2cv3MatC5EiiiPvm]+0x14c): undefined reference to `cv::error(int, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, char const*, char const*, int)'
k4a_ros_device.cpp:(.text

[2020-04-17 13:15] carcormir commented on #125
Hi @ooeygui, thanks for your response. We are looking forward to hearing from you.
In the meantime, we keep trying different things to figure out the root of the issue. I will keep you posted if we make any progress.

Just another note to my previous description. Before the error rises, I constantly get this message:
`[ WARN] [1586942399.828546544]: Initializing or re-initializing the device to re

[2020-04-17 17:00] ooeygui commented on #125
Waiting to hear back from the Azure Kinect SDK team on what could cause this.
(Due to our WFH orders, I currently do not have the physical ability to replicate locally)

[2020-04-17 17:08] ooeygui commented on #125
Could you generate log files and post them?
https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#collecting-logs

They have also pointed out this documentation on multi-kinect setups:
https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync

[2020-04-17 20:39] wes-b commented on #125
Hi @carcormir, is all of this running in 1 process? The logs will be the best way to figure out what is happening. If the camera's are all in one process then only 1 log is needed. Also I see you are using k4aViewer this is a great tool for verifying your hardware. I encourage you to use the multi-camera-sync page to get your target configuration running without error first and then switching back

[2020-04-17 22:22] tesych commented on #125
I will also recommend to review the [multicamera sync issue](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/530) on Sensor SDK GitHub

[2020-04-18 04:26] tkircher commented on #127
This is a known issue. In order to get this node to work correctly in Melodic you basically have to rebuild both OpenCV and then ROS from source.

[2020-04-18 10:11] carcormir commented on #125
Hi @wes-b, thanks for your reply.
All of this is running under one ROS master node (process) and each camera driver is working under the master node and has its own node (process). I will get back with the log files as soon as possible, for the test with 3 cameras.

I wonder if for our purpose we need to wire the cameras. We basically have (for this application), 6 cameras in one PC and each camer

[2020-04-20 15:36] wes-b commented on #125
It doesn't sound to me like you are really using our multi device synchronization. It sounds like you just have multiple camera's connected to 1 PC and are running them independently.

I would expect that if you want to run with 6 cameras that you can validate that with 6 running instances of K4aViewer. I can't tell from what I have read if you have validate with them all running at the same time.

[2020-04-21 16:34] ooeygui commented on #125
@carcormir I would like to find out more about your project. Can you email me at lamadio at microsoft dot com?

[2020-04-22 05:42] carcormir commented on #125
Hi @web-b, thanks for your reply.

In fact that is how I validated them. 6 instances of k4aviewer running at the same time. This resulted in everything working fine.

I did increase the memory to large upper bound to make sure there was memory for 6 cameras.

Sorry for my late answer, I could not get back to you faster. I hope to have some more details today (logs) and a small ROS package so you c

[2020-04-22 07:57] sibeichen commented on #125
Hi
  I also had this problem with a camera

[2020-04-22 15:33:23.567] [error] [t=29041] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/color/uvc_camerareader.cpp (1300): DecodeMJPEGtoBGRA32(). MJPEG decode failed: -1
[2020-04-22 15:33:23.573] [error] [t=29042] /__w/1/s/extern/Azure-Kinect-Sensor-SDK/src/queue/queue.c (112): queue_pop(). Queue "Queue_capture" was popped in a disabled state.
[2020-04-2

[2020-04-22 13:46] carcormir commented on #125
Hi again @web-b,

**k4aviewer log**
Log files when running 3 instances of k4aviewer:
[code]
That is basically what I get from the three devices. The warning occurs periodically and it is not persistent. It comes and goes. No errors.

**ROS logs**
These two folders contain all the information comming from ROS for each camera.
[test_cam1_fails.zip](https://github.com/microsoft/Azure_Kinect_ROS_Drive

[2020-04-22 15:13] wes-b commented on #125
Sorry @carcormir, first time I am working with a customer of customer, so we have a bit of learning to do in asking better questions. None of the logs uploaded contained:

This log message looks like it might have been copy and pasted from the K4AViewer rather than from the ROS run. I was looking for K4A logs documented here: https://docs.microsoft.com/en-us/azure/Kinect-dk/troubleshooting#collect

[2020-04-23 22:44] #127 closed, assigned to nobody

[2020-04-24 03:03] tkircher commented on #123
Update: Jetpack 4.4 is out now.

[2020-04-24 05:51] carcormir commented on #125
Hey @wes-b,

It was copy and pasted as you said since the full log files only contained that message for each camera (next time I will post the entire file and not just a line, sorry for that). The warning message showed when running the cameras on K4AViewer and not ROS. I just wanted to show you a comparison of those logs and the ones I get from ROS.

I will look into this. Currently the only ROS

[2020-04-24 11:14] carcormir commented on #125
Hi @wes-b, more updates:

- We replaced the SSD drive from the PC that everything works (and I mentioned in one of my previous comments) to the PC that does not work. This did not change the behavior. Still same error. For that we assume is not an issue with the OS. The only difference between both PCs is the the BIOS version.
- We have attached a USB controller card with  [4 independent controlle

[2020-04-24 15:05] wes-b commented on #125
Camera3 is the only camera that shows an error:

Does that somehow trigger the other cameras/node to stop? It sounds be like you were saying they run independently. (Remember I don't know ROS)

The error above indicates memory corruption in frame data. This typically happens in the application process space or can happen in hardware. It doesn't happen over USB due to the protections the USB protoc

[2020-04-24 15:36] carcormir commented on #125
Hi @wes-b,
They do run independently in ROS and I guess also in K4aviewer when having 3 different instances.
But for the current testing, I am not using ROS at all.

I did and retested the same way as before. 3 instances of K4aviewer. At some point one or more cameras rise the same error message and it is not always the same camera. If I set to the maximum rgb resolution and FPS, the error appears

[2020-04-24 16:51] wes-b commented on #125
Thanks, I have repro'd the issue with 3 instances of K4aViewer. I captured a potential workaround there, not sure if you can avoid using BGRA32.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1187

[2020-04-27 07:38] carcormir commented on #125
Thanks for the extra information @wes-b

I launched 3 instances of K4aViewer but now with MJPEG format so the decoding to BGRA is avoided.
Unfortunately it did not help. No error appears in the log but K4aviewer pops up an error on screen after a few seconds of running the device.

`Color Camera: Received malformed image data`

Below you may find the error occurring in 2 of the 3 K4aviewer instanc

[2020-04-27 14:55] wes-b commented on #125
K4aViewer appears to use the same tjDecompress2 function that the SDK uses when mjpeg is selected. You could try 1 of the other 2 formats, they rely on a different library to do the conversion.

[2020-04-27 15:22] carcormir commented on #125
That would be great but the problem is that the Azure Kinect ROS driver only allows you to choose BGRA or JPEG. Maybe @ooeygui has some inputs on this?

[2020-04-27 16:01] ooeygui commented on #125
@wes-b, @carcormir, we can add a [feature to support mjpg](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/f953f9196e07fd7660aa29411c9e69445513eaef/src/k4a_ros_device.cpp#L94). The reason this hasn't been supported is because BGRA is used to construct the pointcloud2 message, so it relies on the SDK to do the translation. If the SDK isn't translating the frames, then we would have to do

[2020-04-27 16:37] carcormir commented on #125
@ooeygui I believe that what @wes-b is suggesting is to give support for NV12 or YUY2 which do not rely on the tjDecompress2 function which is the one that is causing the issues when selecting BGRA or MJPEG in K4aviewer. So I do not think that giving ROS support for MJPEG  would solve the issue since it comes from the SDK and this issue will be reflected in the ROS driver.

Ideally, no matter whic

[2020-04-27 16:41] ooeygui commented on #125
@carcormir, Thank you for clarifying - I missed that in the thread.

[2020-04-27 17:38] wes-b commented on #125
I am definitely not suggesting any ROS changes yet, just offering ways to potentially workaround the problem. We unfortunately don't know enough about the issue yet.

[2020-04-27 19:23] carcormir commented on #125
@wes-b Please do not hesitate to contact me if there is any way I can help or if you have any updates on the issue.

[2020-04-28 06:26] carcormir commented on #125
Hi @wes-b, sorry to bother you again but we are really trying to solve this issue since soon it will interfere with our workflow.

As mentioned in one of my comments, the error comes from line 1288 in [uvc_camerareader.cpp](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/master/src/color/uvc_camerareader.cpp). In that code, the status of the decompression is only valid if it is 0. Otherw

[2020-04-28 17:16] wes-b commented on #125
Hi @carcormir, thanks for this great info. I hope you don't mind but we should move this conversation over to Azure Kinect SDK so other members of our community can benefit.

https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1187

[2020-04-28 18:55] youliangtan opened #128 "Switched camera_info for rect image data pub"
Hi, this is just regarding about the ros camera_info data pub issue. I have noticed that the camera_info is switched in here while publishing it with the rectified topics.
[code]
Refer to [here](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/f953f9196e07fd7660aa29411c9e69445513eaef/src/k4a_ros_device.cpp#L812)

While the raw images topics are publishing the "correct" camera_info, the re

[2020-04-28 19:54] ooeygui commented on #128
It looks like this was an oversight during the implementation. Good catch!
How does this bug manifest for you?

[2020-04-29 06:10] youliangtan commented on #128
This is not significant to people who directly subcribe to the published pointcloud. For me, it doesnt affect my application. But if anyone is planning to use the `camera_info` of rect images, this will be confusing to them. Cheers!

[2020-04-30 05:00] KevinHwangAi opened #129 "When will the ROS 2-dashing version of azure Kinect be released?"
Hi Engineers of azure Kinect.

Our team is preparing to use Azure Kinect or Intel D400 series as the main depth camera in our robot project.
Currently, we want to only use ros2 dashing as the main system tool.
The Kinect does not support dashing but Intel D400 series support.
However,we prefer Kinect . Since last year, we have been looking forward to the support of ROS2-Dashing version from azure

[2020-04-30 17:30] ooeygui commented on #129
Hello @KevinHwangAi ,
I'd love to know more about your project.
We currently have ROS2 support for all our first party ROS nodes scheduled for June.

Our plan is to enable the first party nodes for Foxy forward.

[2020-05-01 00:13] KevinHwangAi commented on #129
Hi @ooeygui .
Thank you for your answer. We are looking forward to it.

For our project, we hope to control the robot through Kinect motion capture.

[2020-05-01 00:40] ooeygui commented on #129
That sounds like a great project.

Have you investigated using the ROS1 bridge in the mean time?

[2020-05-01 03:37] d-walsh opened #130 "Seg Fault: "Time is out of dual 32-bit range""
**Describe the bug**

When I launch I get the following error:
[code]

**Expected behavior**
It shouldn't crash.

[2020-05-01 04:20] KevinHwangAi commented on #129
Not yet.Maybe we will try later.Thanks.

[2020-05-03 07:09] tkircher commented on #129
@KevinHwangAi Our team went with the RealSense D435 + T265 over the Kinect or Zed 2 because of Intel's better support. Still keeping my fingers crossed for the Kinect though, since it's the only real LIDAR camera until the L515 ships.

[2020-05-03 13:35] KevinHwangAi commented on #129
@tkircher ,Yes, currently only Kinect provides TOF camera.That's why I want to use Kinect for development.

[2020-05-06 12:14] carcormir opened #133 "Ubuntu SDK source installation. How to let the Azure Kinect ROS driver know about this?"
Hi!

**Describe the bug**
We had some issues with the Azure Kinect SDK, for that reason the developers made some changes in the develop branch [(here)](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1187) so we had to install the SDK from source without using the .deb as suggested in their instructions.
The problem is that as #118 mentioned, it is not very clear from the documentation

[2020-05-06 13:01] KevinHwangAi commented on #129
Hi @ooeygui.
I am testing the  ros1 bridge to connect Kinect and ros2, but the result is not very satisfactory.The depth image with rviz2 has a large delay,so unable to capture action in real time.

[2020-05-07 18:04] #130 closed, assigned to nobody

[2020-05-21 17:54] wes-b commented on #133
When you manually build the Azure Kinect SDK the binaries you care about will be placed in the bin folder of the build location you called Ninja from.

Simmilarly if you use VS2017, it will create build\<target_type>\bin\RelWithDebInfo and place the built binaries there.

@ooeygui any idea where to copy them from here?

[2020-05-21 17:56] wes-b commented on #118
I added [this comment](https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/133#issuecomment-632252787) on a similar thread. Hopefully this helps.

[2020-05-22 19:37] carcormir commented on #133
I was aware of where to find the binaries but In any case thanks for your comment. As you may have guessed I am having trouble linking the binaries with the ROS driver. Hopefully @ooeygui could give us some guidelines.

[2020-05-22 19:53] ooeygui commented on #133
The code that attempts to find the k4a binaries lives in `https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/cmake/Findk4a.cmake`.

Currently it is specifically looking for binaries in the system path. Without doing testing, I suspect that you can add the output path into your system path.

[2020-05-23 09:48] carcormir commented on #133
I added the /build/bin directory to the system path. I also had to add /build/src/sdk and create some symbolic links to avoid errors in the `catkin build` step.
These are the added lines in the system path:
[code]

However, now I am getting this error during the catkin build step, that I am not sure how to solve:

[code]
Maybe I have to add other paths to the system path?

Thanks in advanced for t

[2020-06-01 20:56] carcormir commented on #133
Any follow up on this @ooeygui ? If I did any of the steps wrong or you have the right steps to follow to make it work I would really appreciate any inputs. Thanks in advance!

[2020-06-01 21:00] ooeygui commented on #133
@carcormir I just wanted to let you know that I see the thread, but have not been able to dig into this yet.

[2020-06-02 06:30] #125 closed, assigned to ooeygui

[2020-06-02 08:52] carcormir commented on #133
Hi @ooeygui ,
I found a workaround to make this work.
These are the steps I followed:

1. Install the debian packaged libk4a1.4 and libk4a1.4-dev using apt/apt-get
2. Download the debian package and extract it. Locate the libdepthengine library. You could probably just use the libdepthengine.so.xx that comes with in the 1 step but I have not tried. Notice that for the later case libdepthengine.so.

[2020-06-02 10:58] youliangtan opened #134 "capturesync_drop Error on occasion"
Running on Ubuntu 18.04
Azure Kinect SDK: v1.4

During the running of the k4a_ros node, this issue happens quite sporadically,
[code]

When this error msg happens, it is not possible to recover, in which a forceful restart of the node is needed. As error will happen occasionally, I not able to reproduce it.

According to some previous this raised issue:
https://github.com/microsoft/Azure-Kinect-Se

[2020-06-09 15:44] Doolly commented on #121
still having same issues, any good news?

[2020-06-10 00:44] ooeygui commented on #121
This work item got bumped from our April sprint due to changes in our developer conference and related announcements.

[2020-06-10 15:47] ooeygui commented on #122
Marking this as a feature request.

[2020-06-10 15:51] ooeygui commented on #121
When the Kinect is generating frames, it timestamps the frame itself. the ROS node keep track of the delta between frame generation and publishing. If the latency between frame grab and publish is too high, rtabmap gets into this situtation.

I'm on a lower end system, which has trouble keeping up with the large frame size and frame rate. Dropping the frame size and FPS in the launch file, elimina

[2020-06-11 10:22] helenol commented on #121
Investigating on a slightly higher-end machine. :) Lenovo T490s, Ubuntu 18.04.

Works "out of the box" for me. All start-up output the same except what's noted below:
Notes on potential causes:
* `melodic` branch of this repo.
* `libk4a1.3`, *not* 1.4. Maybe this is a difference?
* The `ros-melodic-rtabmap` package, *not* the latest from the repo.
* I have slightly newer firmware on the akdk than

[2020-06-11 10:38] helenol commented on #121
libk4a1.4 made no difference.

But I was able to succesfully repro.
Steps to repro:
add line
[code]
to line 49 in the slam_rtabmap.launch file.

This then gives me the same error you got:
`
[ WARN] [1591871608.967814553]: /rtabmap/rtabmap/rgbd_odometry: Did not receive data since 5 seconds! Make sure the input topics are published ("$ rostopic hz my_topic") and the timestamps in their header are s

[2020-06-11 17:14] ooeygui commented on #121
@helenol in my local build I migrated to 1.4 and updated the firmware. I'll check that in after we migrate the CI builds to the new CI system. It didn't have any effect on the scenario.

I do believe this is related to systems on the low end of the Azure Kinect requirements.

Thanks for your IMU config change.

[2020-06-11 21:04] ooeygui commented on #134
Can you post the specs of the system you are running on?

[2020-06-12 01:28] ooeygui commented on #121
We have committed fixes which reduce the overhead of the Kinect. However, the Kinect requires a relatively high end system, so you may still encounter this problem.

[2020-06-12 01:28] #121 closed, assigned to ooeygui

[2020-06-12 19:52] xiangzhi opened #139 "Latest version requires libk4a-1.4 but there are no correspoding libk4abt available for that version"
**Describe the bug**
The latest version requires `libk4a-1.4-dev` to compile. However, Microsoft hasn't release a corresponding body tracking SDK for that version. This means that we can't use any of the body tracking features. More information from the SDK Repo: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1153

**To Reproduce**
1. Try installing `libk4a1.4-dev`. It will automatica

[2020-06-15 17:32] ooeygui commented on #139
Had a sync with the Kinect SDK team. The Body tracking SDK was delayed, so I'm backing out https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/140.

[2020-06-15 21:25] #139 closed, assigned to nobody

[2020-06-24 01:49] eric-schleicher commented on #118
`
"I have the ROS node running on arm64 on a Jetson Nano. It requires rebuilding ROS completely from source against the system OpenCV and making a few source changes along the way."
`

@tkircher are the steps documented anywhere?  I'm at a perfect point to start over on  fresh nano install.

[2020-06-24 02:01] tkircher commented on #118
@eric-schleicher I just added Kinect support to RTAB-Map instead, for the standalone application. I assumed Microsoft just didn't take this issue seriously.

[2020-06-24 02:10] eric-schleicher commented on #118
Thansk for the response.   That's super interesting and i have a number of questions!

So two things:

1) I'm encouraged that arm64 happened at all, so I'm hopeful.
  - Are the "few source changes" significant in addition to building ROS?
  - Are the source changes to ROS or to Azure SDK?

2) In ref to adding support to RTABMAP.  is that in @matlabbe's mainline RTABMAP, or just for you locally?

[2020-06-24 02:22] tkircher commented on #118
The source changes were all in support libraries for ROS as well as ROS modules. I didn't make changes to the Azure SDK or ROS node. As I recall, one of the big issues was updating ros-perception to work with OpenCV 4.

The Kinect Azure DK support for RTAB-Map is in mainline.

[2020-06-24 02:37] ooeygui commented on #118
Just for clarification:
We have a 2.5 developers all ROS work, including ROS1 & ROS2 on Windows, the ROS2 Technical Steering Committee, MoveIt 1 and MoveIt 2 on Windows, Github and Azure Dev Ops for Robotics, all Microsoft ROS nodes - including Azure Kinect, ROS VMs and VSCode ROS extension and unblocking customer deployments.

[2020-06-24 02:39] ooeygui commented on #134
Reopen if you can add more info

[2020-06-24 02:39] #134 closed, assigned to nobody

[2020-06-24 02:53] #3 closed

[2020-06-24 02:54] #58 closed, assigned to nobody

[2020-06-24 03:03] tkircher commented on #118
@ooeygui I'm sure there's excellent support on Windows. But there doesn't appear to be support for the Kinect ROS driver on Jetpack.

[2020-06-24 03:25] ooeygui commented on #118
@tkircher That's correct. We currently do not support ARM64 in the Azure Kinect ROS node. Due to our extremely limited resources, we have not prioritized introducing a new platform. Consequently, we do not have a timeframe for supporting ARM64.

[2020-06-24 03:56] tkircher commented on #118
@ooeygui I do understand some of the confusion about this though. Microsoft does officially support Jetpack in the SDK, as well as providing fully functional binaries for that platform. The ROS node can also be built and can be made to work, with some effort. And ROS support on jetpack is generally good. So it's surprising to find out that the Kinect ROS node is not supported.

[2020-06-26 02:13] jessekirbs commented on #83
@amonnphillip Would you mind sharing the software you used to fix the intrinsic calibration with OpenCV 3 and the Charuco board? Thank you!

@t-walker-21 Did you ever end up solving this issue to your satisfaction? I'd love to take a look at your intrinsic calibration method as well if you don't mind. Thanks!

Azure Team - Has there been any progress into diagnosing and solving this issue? I can c

[2020-06-28 22:33] ooeygui commented on #83
I've reached out to the Azure Kinect SDK team. I'm not clear where the problem is - is the ROS node interpreting values incorrectly or is it being published incorrectly.

[2020-06-28 22:44] ooeygui commented on #109
It may be due to the double hop though pub/sub.

[2020-06-29 17:00] RoseFlunder commented on #109
There is also a huge discussion when it comes to the latency about the body tracking sdk in the sdk repository:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/514

I am on mobile at the moment but I remember that one person wrote that there is like 1 buffered frame in the body tracker after creation. He got less latency when he pulled that from the body tracker instance before queing

[2020-06-29 17:06] ooeygui commented on #109
@RoseFlunder Thank you for linking this in.

[2020-06-29 19:01] helenol commented on #83
Hi all,
To clarify again, there's no issue in (i.e., incorrectness) in the calibration information from the Azure Kinect. It is correct, and using a model supported by OpenCV (8-parameter rational polynomial), but **not by ROS** and not by many of the packages you're using.
Keep in mind that the only model fully-supported by ROS, 4 (or 5?)-parameter radial-tangential, should be ok for the RGB came

[2020-07-19 13:38] anastasiabolotnikova opened #143 "find_dependency(k4a) version format mismatch (contains 3, requested 2 components)"
Running `catkin_make` to build `Azure_Kinect_ROS_Driver` results in the following CMake error:
[code]
Looking into the file that seems to cause the problem `cat /usr/lib/cmake/k4abt/k4abtConfig.cmake` I see indeed only 2 components in the version number:

[code]

Changing this file manually to include 3 version number components:

[code]

fixes the problem and `Azure_Kinect_ROS_Driver` can be buil

[2020-07-21 00:01] shawncal commented on #123
+1 I've hit this as well, with Jetpack 4.4 and OpenCV 4.1.1

There are 2 problems here:
- The ROS "cv_bridge" module, that the K4A ROS driver and others depend on, expects OpenCV 3.2 in ROS Melodic
- The OpenCV driver 4.1.1 that comes with JetPack strangely does not have CUDA support enabled

### The quick fix: downgrade to OpenCV 3.2 (not recommended)
- **WARNING: this does NOT get you CUDA accel

[2020-07-22 09:32] anastasiabolotnikova opened #144 "Publish body markers array only when body markers are detected"
**Is your feature request related to a problem? Please describe.**
When no body is detected, an empty markers array is being published to the `body_tracking_data` topic. This requires any node, subscribed to this topic, to write an additional check in the subscriber callback to see if marker array has any elements. It would be more convenient (and ROS-like) to only publish messages to `body_tracki

[2020-07-22 11:12] RoseFlunder commented on #144
Hmm I kind of understand what you mean but isn't it also a meaningful information when you receive an empty message after a filled message? In this case the message would tell you that the person walked out of the picture / is occluded.

In case of ommiting these messages users with this use case need tedious code to check how much time has passed since the last message arrived.

[2020-07-22 11:53] anastasiabolotnikova commented on #144
Thank you for your prompt reply, @RoseFlunder !
Fair point. However, this information (`no human detected`) can also be deduced from the subscriber callback function not being triggered at this time step (or at this control iteration, or for the past X seconds).

Previously, when I was working with ROS nodes that publish detection results, I recall that detection result messages were only publishe

[2020-07-31 23:09] AswinkarthikeyenAK commented on #87
Hi Guys,
Is it possible to obtain the pose and perform joint tracking in RViz using Kinect Azure camera?
Is there any ros package that can do this? I am looking for something like openpose package.

Thanks

[2020-08-03 18:25] ooeygui commented on #87
@AswinkarthikeyenAK Yes, the data is available in the SDK, but it hasn't been plumbed through the ROS node. We had a discussion about how it could be done. I added the help wanted tag as this work hasn't made it to the top of the teams' priority queue.

[2020-08-18 21:55] AswinkarthikeyenAK commented on #37
Hi,
I am having the same issue while using the kinect ros driver in jetson nano device
Using ROS Melodic and Jetson Jetpack 4.3 with OpenCV 4.1.1

Can you kindly help me resolve the issue, please?

I cannot find a solution to fix this.

Please find the error below:

`[ WARN] [1597785952.661227805]: Waiting for datum...
[ WARN] [1597785953.198828374]: Initializing or re-initializing the device to r

[2020-08-18 22:35] ooeygui commented on #37
@AswinkarthikeyenAK, Are you able to capture using the k4aviewer?

[2020-08-18 23:09] AswinkarthikeyenAK commented on #37
@ooeygui,
Yes I am able to capture using k4aviewer.
Can you possibly let me know the next steps, please?
Thanks

[2020-08-20 19:19] AswinkarthikeyenAK commented on #37
@ooeygui,
I have fixed this issues for now with my device.
These were the following I tried,
1. To fix the issues with `__log:=/home/ak/.ros/log/5c0280fa-e199-11ea-9f31-00044be73986/azure_kinect_ros_driver-7.log]. log file: /home/ak/.ros/log/5c0280fa-e199-11ea-9f31-00044be73986/azure_kinect_ros_driver-7*.log`,
I did the catkin_make as suggested in the issue #70 .

2. I reduced the resolution of th

[2020-08-20 19:33] ooeygui commented on #37
@AswinkarthikeyenAK thank you for posting back. The converting the output from the kinect to ROS friendly representations is a time consuming, which negatively impacts performance. it would be a good enhancement to identify that this is occurring and notify the user; and perhaps have a property allow downshifting the performance of the camera.

[2020-08-21 09:39] AswinkarthikeyenAK commented on #134
Hi @ooeygui,
I am facing the same issue while running the ros node on my jetson nano device.
Kindly let me know if there is a way to fix this please

Thanks

[2020-08-24 09:34] AswinkarthikeyenAK commented on #125
Hi @ooeygui ,
I am facing the same issues as discussed here below.
Have you already found a way to fix this issue? Can you kindly tell me how to fix this issue?

[2020-09-03 20:20] AswinkarthikeyenAK commented on #110
Hi @ooeygui ,
Is there a way to synchronize the color and the depth images in ros? Also, How do you find the devices depth settings? For instance I would like to know if the depth setting is in [m] or [mm]?

Thanks

[2020-09-08 18:47] jinbae9875 opened #148 "RGB Image Too Dark"
Firmware Version Info
RGB Camera: 1.6.102
Depth Camera: 1.6.75

Hi,

I'm taking acquisitions from /rgb/image_raw topic and the image is coming out too dark.

![00000](https://user-images.githubusercontent.com/47039403/92515385-88022900-f1e1-11ea-9941-c64d912545d1.jpg)

How can I turn the brightness up so it looks normal like in k4aviewer? Thanks.

[2020-09-14 16:18] maxsvetlik commented on #143
I haven't experienced this issue with CMake, but I was facing issues with `k4a-tools` having a conflicting version with the libraries needed for this ROS driver, which is addressed in your reproduction steps.

Rather than downgrading `k4a-tools` and preventing its update with apt, I've found that I you can get by without using `k4a-tools` at all (at least in my use case). So just installing the Ki

[2020-09-18 15:17] jmachowinski opened #149 "Potential Bug - Profile Performance of using Sleep in the frame loop and its effects on the longterm frame stability"
Hi,
I'm confused about some parts of the code :

https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/01b5a781f499b32d2babed97a534537b954e0d69/src/k4a_ros_device.cpp#L1181

Why is this done here ? AFAIK there is already the spin in the main thread.
Also I do not know it if it is even allowed to call spin from multiple threads.

https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/01b5a78

[2020-09-18 16:55] RoseFlunder commented on #149
I am not that expirienced with multithreaded nodes.
What would be the correct way to handle the spinning?
Creating an asyncspinner and start it in the mainthread and then wait there for shutdown?

[2020-09-18 19:10] ooeygui opened #150 "Frame thread should only sleep for frame time minus the processing time (which can be significant)"
The frame sleep sleeps for the full frame time of FPS, does not take into account processing overhead

https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/01b5a781f499b32d2babed97a534537b954e0d69/src/k4a_ros_device.cpp#L1182

Action:
Compute the remaining time and only sleep for that detla.

[2020-09-18 19:11] ooeygui commented on #149
Thank you for the report.
A few questions:
* Are you observing a specific issue related to this? such as an unexplained crash or frame backup?

Discussion:
ROS::spin internally services the global callback queue, which itself is thread safe. However, it will dispatch a callback on the thread which is calling spin.  This means that the handlers of the callback need to be thread safe and reentrant.

[2020-09-18 20:24] zchenpds commented on #149
@ooeygui Actually [ros::Rate::sleep()](http://docs.ros.org/diamondback/api/rostime/html/classros_1_1Rate.html) already accounts for the processing overhead and sleeps for only the leftover of the sampling period.

 I believe the original poster's concern with `loop_rate.sleep()` is that if PC clock somehow runs a bit slower than the sensor clock, there would be no chance for this loop to catch up

[2020-09-18 21:37] ooeygui commented on #149
@zhenpds thanks for pointing that out. I need to profile this portion of the code and ensure it is meeting the publish rate.

[2020-09-19 02:26] RoseFlunder commented on #149
So the question is do we really need a sleep at all if we are not in Playback mode?
The "getCapture" could be the pseudo sleep because it is called with infinite timeout, thus it will block until the next frame from the camera is available right?

[2020-09-21 08:12] linhan94 commented on #120
Hello there, any progress? :)

[2020-09-21 16:16] ooeygui commented on #120
Hi @linhan94,
No progress has been made on exposing the microphone directly from this ROS node. I have no ETA to share, but would happily accept a PR.

I'm told by the Azure Kinect audio team that the microphone array is accessible as an multichannel audio device using ALSA directly. In this case, it should be accessible using the audio_common package as @roelofvandijk mentioned, but have not had

[2020-09-28 21:31] ooeygui commented on #95
This is now implemented.

[2020-09-28 21:31] #95 closed, assigned to ooeygui

[2020-10-01 19:00] jinbae9875 commented on #148
It fixed itself after a few minutes. I guess the camera needs some time to adjust the exposure.

[2020-10-01 19:00] #148 closed, assigned to amelhassan

[2020-10-12 10:12] zoidzilla opened #152 "Azure Kinect SDK does not work in headless mode"
Hello,

I am experiencing a very strange behavior with the Kinect Azure ROS driver launch file. I am trying to launch the driver together with other modules in an automatic boot up launch file from a mobile robot and I am constantly getting the following error:

● mp-ros-bootup.service - "Bootup service for mobile platform core components"
   Loaded: loaded (/etc/systemd/system/mp-ros-bootup.servi

[2020-10-12 17:07] ooeygui commented on #152
Thank you for the report. It looks like it is failing in the SDK. This failure can be caused by many reasons - USB contention, CPU/GPU starvation, resource conflicts, etc.

What other ROS components are running? If they share the USB bus, that could be a source of failure.

[2020-10-12 17:49] zoidzilla commented on #152
Hello,

Yes indeed it is failing in the SDK. To test if there was any conflict with any other components (e.g. laser scanners). I commented out all components in the boot up launch file leaving only the part where I call the Azure camera launch file. However, I still received the same behavior. I also tested different USB ports on NUC as well as different usb cables but the problem remained. Since

[2020-10-12 17:55] ooeygui commented on #152
Can you tell me more about the boot time script? Can you share it? And how you schedule it?

[2020-10-12 18:13] ooeygui commented on #152
I am following up with the Azure Kinect team.

Can you try launching the azure kinect viewer in your startup script instead of ROS? I'd like to see if that is a permissions or access issue.

[2020-10-12 18:22] zoidzilla commented on #152
Hello,

Thank you for the feedback. I will come back with new information and with testing your suggestions as soon as I go back to the lab.

Best regards.

[2020-10-15 19:49] zoidzilla commented on #152
Hello,

We finally found the problem. The problem was that the SDK seems to require a display connected to the computer, otherwise the driver fails to start the camera.

The main problem was to start the camera headless (i.e. without a monitor):
-	I first tried this: https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/796
-	That worked partly, and then I tried this: https://github.com/micr

[2020-10-19 14:03] YoshuaNava commented on #56
@skalldri I'm also having issues with the PointCloud2Iterator, although I'm not a ser of Kinect Azure. Do you still plan to optimize it? I would be happy to collaborate and find out better ways to use it, or come up with improvements.

[2020-10-19 18:21] ooeygui commented on #56
Hi @YoshuaNava ,
This work is still on the backlog.

The code currently does this work linearly in C++ https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/c8d4cb7f1d43326879f926294fb1aa4f299c159e/src/k4a_ros_device.cpp#L586.

We are looking at Cuda for this codepath when available.

[2020-10-27 12:10] YoshuaNava commented on #56
@ooeygui Thank you for your prompt answer.

I see. I have continued using the iterator. Until now it allowed me to speed up an old raw deserialization method by 3-5x, which is a good gain with considerable low effort.

I'll share any insights found while I work on this.

[2020-10-30 19:53] ooeygui commented on #129
Working on the Foxy builds now
https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/155

[2020-10-30 19:56] ooeygui commented on #5
https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/155

[2020-10-30 19:56] #5 closed

[2020-10-30 19:57] ooeygui commented on #84
No longer repros

[2020-10-30 19:57] #84 closed, assigned to ooeygui

[2020-10-30 19:58] ooeygui commented on #97
Duplicating to the feature request - https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/126

[2020-10-30 20:01] ooeygui opened #156 "Add Azure Kinect SDK Logs to ROS Log"
The ROS node is a thin wrapper around the Azure Kinect SDK, which marries the SDK to the ROS ecosystem. When the Hardware fails for some reason, the errors are not propagated to the ROS Log, which causes some back and forth.

This work item is to map Azure Kinect logs to ROS log.

[2020-11-04 23:51] AswinkarthikeyenAK commented on #87
@ooeygui,
I noticed the body tracking SDK shows the TF frames of the joints in the k4abt_simple_3d_viewer, but the ros publishes the body joint information as marker arrays. Is there a way to visualize the TF in RViz like shown in the k4abt_simple_3d_viewer?

Thanks

[2020-11-12 14:33] AswinkarthikeyenAK opened #158 "Ros Body tracking - Joint information and visualization of the marker array[question]"
Hi,
Is there a way to visualize the joint data as TF's in RViz?
And also I made changes to the k4a_ros_device.cpp file to change the type of the marker to CUBE and launched the driver.launch again. But was not able to notice any changes.
Can you please tell me how can I change this to cube?
`  marker_msg->lifetime = ros::Duration(0.25);
  marker_msg->id = body.id * 100 + jointType;
  marker_msg->t

[2020-11-12 17:44] RoseFlunder commented on #158
1. Question:
I think you would have to rewrite the whole body tracking publishing thing to tf Message publishers per joint using the ROS tf2 classes.
http://wiki.ros.org/tf2

2. Question:
If you just want to change the marker type your change seems right. Did you build the catkin workspace after changing the line?

[2020-11-12 19:02] AswinkarthikeyenAK commented on #158
Thanks for your reply.

2. Sorry, I did not catkin make therefore I believe it did not work. I did catkin_make and it work now. Thanks for that

1. I am new to ROS and TF, So i will take a look at the link you have shared and see if I can write whole body tracking publishing to send the TF messages. Any information or assistance that you can provide is highly appreciated.

Thanks

[2020-11-12 19:23] RoseFlunder commented on #158
Basically you need to publish each body tracking frame new transformations.
The TFMessage contains an array of stamped transformations (stamped just mean they are related to a specific point in time).

A transformation has a parent frame id in the header field (name of the parent coordinate system) and a child frame id which is the name of the coordinate system you want to transform to.
So you spa

[2020-11-13 23:00] madhan001 opened #160 "Transforming a (u,v) pixel in the RGB image to (x,y,z) coordinates in the camera frame"
Hi, my application requires transforming a 2D pixel coordinate in the RGB image to the XYZ values in the camera frame for the robot to reach that point.

Can anyone please guide me in accomplishing this ?

[2020-11-14 01:01] ooeygui commented on #160
Hi @madhan001,
The Camera will publish a [sensor_msgs::pointcloud2](http://docs.ros.org/en/melodic/api/sensor_msgs/html/msg/PointCloud2.html) on the points2 topic, which reports an XYZRGB in the image relative to the camera frame. The [pcl ROS doc](http://wiki.ros.org/pcl/Overview) is a good starting point for processing the message.

[2020-11-14 01:01] #160 closed, assigned to nobody

[2020-11-26 16:48] dnlwbr opened #163 "Organized point cloud"
Hey everybody, I noticed that the published point cloud of the /points2 topic is unorganized. Is there a way to get a registered point cloud with the same dimensions as the rgb image topic?

[2020-12-01 15:31] dnlwbr commented on #100
Hi @jefft0 , how did you solve this issue? I am also wondering how to get a point cloud with the correct height and width.

[2020-12-02 09:48] jefft0 commented on #100
Hi @dnlwbr , we did what I suggested above, to manually set the width and height:
https://github.com/OpenPTrack/open_ptrack_v2/blob/1804/detection/apps/ground_based_people_detector_node.cpp#L130-L134

    if (cloud->height == 1 && cloud->width == azure_width * azure_height) {
      // The Azure provides a 1D array. Simply fix the width and height to be 2D.
      cloud->width = azure_width;
      c

[2020-12-02 11:11] dnlwbr commented on #100
Thanks for the quick response. This worked for you? Even if these values are adjusted, data is still one-dimensional, isn't it?

[2020-12-02 12:53] jefft0 commented on #100
Yes, we found that this was good enough to be able to extract the image and use it in some detection libraries, like here:
https://github.com/OpenPTrack/open_ptrack_v2/blob/1804/detection/include/open_ptrack/detection/impl/ground_based_people_detection_app.hpp#L458

[2020-12-07 05:06] zchenpds opened #164 "Negative latency measured in IMU samples"
**Describe the bug**
IMU timestamp leads ros::Time::now() by around 20~40 ms, which violates causality. It is measured by https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/6d575cefd4d9ce872a2f954da94b7f018ab512fb/src/k4a_ros_device.cpp#L689
For example,

               -19.9212 ms. The lag ranges from -21.4135ms to 0.914652ms.

**To Reproduce**
Steps to reproduce the behavior:
1. `roslaunc

[2020-12-12 01:45] AlexSunNik commented on #133
I encountered the same issue and spent nearly 3 hours debugging this. For my case,  I didn't clear the local cache /usr/local/lib/cmake. Therefore, the CmakeList found two files of the same name, one in the system path, one in the user local path. Since the user local copies do not have symbolic links attached, the compilation always fails.
Simply do sudo **rm -r -f /usr/local/lib/cmake/** solves

[2020-12-12 18:44] ooeygui commented on #133
@AlexSunNik Thank you for your investigation.

[2020-12-13 21:14] matlabbe opened #165 "Improving slam_rtabmap.launch"
**Describe the bug**
The [slam_rtabmap.launch](https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/launch/slam_rtabmap.launch) file can be improved. Here are some changes I propose (I was about to open a pull request but it seems we have to open an Issue before):
 * Added **IMU support** (map is now aligned with gravity by default).
 * Updated **depth rectification interpolation meth

[2020-12-14 18:34] ooeygui commented on #165
Thank you for the investigation and suggested fixes! These all sound like wonderful improvements.

[2020-12-18 19:30] amelhassan opened #168 "In Rviz2, depth and IR topics result in "No image" until movement is detected (ROS2/Ubuntu)"
**Describe the bug**
When visualizing depth/IR related topics from the Azure Kinect ROS Driver on Rviz2, an image stream is not produced right away. Movement is required to kickoff the image stream for the topics below:
- /depth/image_raw
- /depth_to_rgb/image_raw
- /ir/image_raw

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the driver `ros2 launch azure_kinect_ros_driver.launch.py`

[2020-12-28 03:22] liangxiaowei00 commented on #105
hi @ooeygui ,the factory calibration always is good enough for using rgb and depth image ?

[2020-12-29 22:05] ooeygui commented on #105
@liangxiaowei00 I think the answer is a definitive "it depends". The Factory Calibration is good - but it is a compromise. We have seen customer reports of better results by calibrating your specific camera in the specific runtime environment.

[2021-01-02 17:36] vinesmsuic opened #170 "Hole-filling filter for depth images"
**Is your feature request related to a problem? Please describe.**

Hi, I am new to Kinect and ROS. I am trying to write an object tracking program with accurate distance info. I tried to retrieve the depth frames from the Kinect on ROS1 and I found some depth pixels are having 0 distance (shown black in the image). I guess the distance is out of range or the material is special that the IR cant r

[2021-01-04 18:20] ooeygui commented on #170
Thank you for the feature request. This seems like a good feature to have, especially under a dynamic configuration option with hardware acceleration.

I've added a Help Wanted tag to this incase anyone wants to take a crack at it.

Otherwise, we will investigate adding it once we have completed some hardware acceleration workstreams.

[2021-01-20 14:12] xspkwy opened #173 "catkin_make Azure_Kinect_ROS_Driver error with source built OpenCV 3.4.7"
- **Description**: I have followed the official guide of **_Azure-Kinect-Sensor-SDK_** and test k4aviewer successfully, but when I then created a ros workspace, downloaded **_Azure_Kinect_ROS_Driver_** and catkin_make it, it seems to fail:
`Scanning dependencies of target azure_kinect_ros_driver_nodelet
Scanning dependencies of target azure_kinect_ros_driver_node
[ 10%] Building CXX object Azure_K

[2021-01-20 19:31] ooeygui commented on #173
Thank you for the report. The Interface for OpenCV is different between versions. A code `#ifdef` needs to be added to detect the OpenCV version, and compile for the different interface.

We would appreciate a PR for this.

[2021-01-21 01:29] xspkwy commented on #173
Thanks for your advice, I would submit a PR when I fixed the issue. But I am still not sure how to fix it, could you tell me the details of changes?

[2021-01-21 17:56] ooeygui commented on #173
Hello @xspkwy ,
Thank you for your interest in looking at the PR.
OpenCV headers provide a version define `CV_MINOR_VERSION` & `CV_MINOR_VERSION`. You can check them like this:
[code]

[2021-01-23 15:40] vinesmsuic opened #174 "No map received on RViz (rtabmap)"
**Describe the bug**
I am trying to see the map generated with rtabmap in RViz.

**To Reproduce**
Steps to reproduce the behavior:
1. Installed rtabmap_ros via apt `sudo apt install ros-melodic-rtabmap-ros`
2. Entered the commend `roslaunch azure_kinect_ros_driver slam_rtabmap.launch`
3. RViz shows up and Log info appears in terminal
4. Tick the Map option
4. See error (No map received)
5. I used

[2021-01-25 18:04] ooeygui commented on #174
Typically when we see this, the computer is processing the data coming off the Kinect. This can be for many reasons - including an incompatible USB controller, low end CPU, low end GPU, or other background processing which is affecting the utilization, causing timing gaps. I see in the output that the kinect is being reset, which is an indicator of unusually high latency on the USB bus.

[2021-01-26 16:12] christian-rauch opened #175 "compressed depth is in wrong format"
**Describe the bug**
The compressed depth on topics `/depth/image_raw/compressed` and `/depth_to_rgb/image_raw/compressed` uses the jpeg format by default, which is 1) not a good format to compress depth data, and 2) results in errors:
`Compressed Image Transport - JPEG compression requires 8/16-bit color format (input format is: 32FC1)`

Changing this to "png" does not help.

In addition, the alt

[2021-01-28 05:14] youliangtan commented on #134
Just some long due reply on this issue. This is running on `ubuntu18.04`. Previously after trying out with different azure kinect devices, the issue seems to only happen to one device. This seems to solve the issue using a different azure kinect.

[2021-02-01 22:09] VisionaryMind opened #176 "Enable HDR on K4A RGB stream"
**Is your feature request related to a problem? Please describe.**

We have been looking at Azure Kinect as a depth camera in both our SLAM and 3D reconstruction workflows. The ROS driver certainly provides functional access to K4A data streams but unfortunately, those streams are not usable in indoor environments where sunlight is present. The gain adjustment algorithm over-compensates for light

[2021-02-02 21:21] ooeygui commented on #176
Thank you very much for your feedback and writeup.
The Azure Kinect ROS node builds on top of the Azure Kinect SDK.
I followed up with the Azure Kinect team and linking this issue to related issues in the SDK repo:
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/816
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1501

[2021-02-03 16:21] RanLongUoE commented on #175
I faced the exact same problem when I tried to record "/depth_to_rgb/image_raw/compressed". I have tried the solution in https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/67, but it didn't help.
Desktop:
    OS: Ubuntu
    Version: 18.04

[2021-02-03 16:49] christian-rauch commented on #175
As a reference, the [`openni2_camera`](http://wiki.ros.org/openni2_camera) driver publishes on `/camera/depth/image` in float (`32FC1`, meter) format and on `/camera/depth/image_raw` in integer (`16UC1`, 1 unit = 1 meter) format. The png compression can then be applied to the `image_raw` topic in `16UC1` without issues.

The Kinect driver only publishes the floating `32FC1` values on `/depth/image

[2021-02-04 12:37] christian-rauch commented on #128
I am using the camera intrinsics to do the projection myself. Since the sensor is factory calibrated, there is only a single set of intrinsic parameters per camera (`{rgb,ir}/camera_info`). The remaining intrinsics should be derived from the registration into the respective camera frames:
- **depth ← ir** (depth is derived from the IR image)
- **depth_to_rgb ← rgb** (depth data is assigned to pixe

[2021-02-05 12:36] christian-rauch commented on #101
An alternative mesh model without the cover can be found at: https://grabcad.com/library/camera-azure-kinect-dk-1

I also would like to see proper support for an accurate mesh model of the sensor in this repo.

@ooeygui Is it possible to ask the hardware team to verify this model and maybe ask the creator to include it in this repo?

[2021-02-09 14:27] vinesmsuic commented on #174
hi, just managed to get myself a new laptop but ubuntu 18.04 cant run probably on that laptop (due to kernel version), so I had to switch to ubuntu 20.04.

I looked up [https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1263](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1263) and people there figured out a way to install k4atools on ubuntu 20.04. But after I installed k4ato

[2021-02-09 17:15] RoseFlunder commented on #174
I guess noetic support would only make sense if there is official support for the SDK on Ububtu 20.04. but there isnt. Its only tested to work on 18.04. by Microsoft.

[2021-02-11 18:24] christian-rauch opened #177 "specify URDF frames in CAD model"
**Is your feature request related to a problem? Please describe.**
The URDF (https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/29) specifies links `camera_body`, `camera_base` and `camera_visor`. While the colour and depth optical frames are published by the driver and have reference points in the CAD (https://docs.microsoft.com/en-us/azure/kinect-dk/media/resources/hardware-specs-media/di

[2021-02-11 19:09] skalldri commented on #177
FYI: I no longer work at Microsoft, and I wrote this well over a year ago, so my knowledge is a bit fuzzy.

As best as I can remember, Azure Kinect doesn't have any explicit calibration between the camera housing and the internal cameras. If I recall correctly, one of the cameras is used as the "origin" for the co-ordinate system, though I don't recall which one.

When I wrote the URDF, I did base

[2021-02-12 18:22] christian-rauch opened #178 "tf_prefix is handled differently in URDF and driver"
**Describe the bug**
The launch file appends a trailing slash `/` to the `tf_prefix`
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/6d575cefd4d9ce872a2f954da94b7f018ab512fb/launch/driver.launch#L12
which causes the URDF to separate the `tf_prefix` and the link name via `/`, whereas the published frames in the TF tree will not have this `/`. E.g. by default, with an empty `tf_prefix`, th

[2021-02-16 00:27] #178 closed, assigned to nobody

[2021-03-04 12:34] christian-rauch commented on #176
From the description and the example data, this seems to be more like an issue with the automatic gain adjustment, not HDR (i.e. using 12bit per pixel) per se.

[2021-03-16 13:02] jmachowinski opened #181 "Color stream breaks silently"
**Describe the bug**
On some systems, the color stream breaks down.
This issue is reported in the SDK and the fix will
likely take some time (https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1354).

**To Reproduce**
1. Start the node on any computer using an 'unsupported' usb controler.
   Set 30 fps and color to 2160P
2. rostopic hz /rgb/image_raw
3. Wait some time, hz drops to zero

*

[2021-03-16 17:12] ooeygui commented on #181
Agree - waiting infinitely is definitely not desirable.

[2021-03-16 17:13] AswinkarthikeyenAK opened #182 "Body tracking data publishing frequency"
**Describe the bug**
I am trying to use the body tracking feature to get various joint information. The camera is set at 30 fps, and body tracking smoothing factor is set to 0.75. However the joint informations are published at approx 5.5 Hz. The rest of the topics for example /depth_to_rgb/image_raw seems to be publishing information at 30 Hz.
For Example:
[code]

[code]
**To Reproduce**
Steps to

[2021-03-16 22:36] ooeygui commented on #182
Hello @AswinkarthikeyenAK,
The ROS node for the Azure Kinect is a thin wrapper around the Azure Kinect SDK to bridge the SDK into ROS.

The Azure Kinect SDK team is working on Body Tracking performance and has outstanding tasks tagged "Body Tracking":
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues?q=is%3Aissue+is%3Aopen+label%3A%22Body+Tracking%22

[2021-03-16 22:36] #182 closed, assigned to nobody

[2021-03-17 05:52] maudzung opened #184 "Asking for human body tracking on recorded rosbag files"
I have used code in this repository to record data into rosbag files. Are there instructions or examples on loading the recorded rosbag files and doing human body tracking (skeleton extraction)?

Thank you so much!

[2021-03-17 06:16] zchenpds commented on #184
k4abt tracker consumes data of type k4a::capture which cannot be easily reconstructed from the ros messages supplied by this node. Is there any reason you couldn't record the body tracking data into the bag file in the first place? or you want to try the body tracking with different smoothing factor settings on the same data?

This might be related to #122

[2021-03-17 07:13] maudzung commented on #184
Thanks for the information. I didn't record `body_tracking_data` topic. I'll record the topic next time for its usage.

[2021-03-17 07:13] #184 closed, assigned to nobody

[2021-03-18 13:28] AswinkarthikeyenAK commented on #182
Hi @ooeygui ,
I see.. Does this mean the its the issue with the Body-tracking sending data at slow rate?

Thanks

[2021-03-18 14:06] RoseFlunder commented on #182
Most likely because there is no artificial throtteling for body tracking data in this node.
What GPU are you using and do you have other topics subscribed as well?
RGB point cloud can be so slow that it slows down the whole processing loop.

[2021-03-18 16:03] AswinkarthikeyenAK commented on #182
Hi @RoseFlunder ,
I have a Nvidia MX130 graphic card.
I am not subscribing to any other topics. I am just working with the /body_tracking_data

Thanks

[2021-03-18 16:43] RoseFlunder commented on #182
The MX130 is unfortunately too slow to keep up with the 30FPS.
Microsoft recommends at least a GTX 1070 for 30 FPS:
https://docs.microsoft.com/en-us/azure/kinect-dk/system-requirements#body-tracking-host-pc-hardware-requirements

I used a GTX 1080 and RTX 2070 Super without problems.
But be aware that there is currently no support for the new Nvidia 3000 Series.
Should be patched with the next rel

[2021-03-18 17:02] ooeygui commented on #182
@roseflunder Thank you for posting on this issue.

[2021-03-18 22:21] ymohamed08 commented on #120
Is it possible to stream each channel separately for spatialization using the recorded 7 channels. Is there another way for spatialization?

thank you.

[2021-03-19 12:09] roelofvandijk commented on #120
Hello @youssef266, as far as I remember, sounddevice yields a numpy array containing the 7 separate channels, which you could feed into a spatialization algorithm. For live spatialization, you would have to access the audio using a system-level audio API. You could try using ODAS with the Azure Kinect as documented [here](https://github.com/xiaotaw/odas) or try [NAudio](https://github.com/naudio/N

[2021-03-19 12:20] daireucd opened #185 "cannot visualize marker array - body tracking"
**Describe the bug**
cannot visualize marker array ros kinect body tracking.
The body tracking application k4abt_simple_3d_viewer works fine.
Also, I can launch the driver.launch file and see the various topics and data that are being published. However I cannot view the marker array.
In the driver.launch fine the depth and the body_tracking is enabled.

**Desktop (please complete the following in

[2021-03-19 14:59] daireucd commented on #185
Issue found here seemed to have resolved this for us: https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/143.

[2021-03-19 14:59] #185 closed, assigned to nobody

[2021-03-24 15:17] AswinkarthikeyenAK commented on #182
Hi @RoseFlunder,
Is there any estimate on when the support might be extended to the Nvidia 3000 series?
I noticed there already an update in [v1.1.0](https://docs.microsoft.com/en-us/azure/kinect-dk/body-sdk-download) that supports the RTX 30xx series.
Is there a way you can check if the 30xx series works fine with ROS as well please?
I am planning to buy a new device with the RTX 30xx, but it wou

[2021-03-24 16:57] RoseFlunder commented on #182
Hi,
I recently finished my studies at university where I worked with azure kinect bodytracking, which means I don't have access to a device anymore.
So I can't test/develop any new things for this ros driver anymore.
If there are no breaking API changes you could test to change the version number of k4a und k4abt dependencies in the build files and test if it compiles without any further changes.

[2021-03-24 16:59] AswinkarthikeyenAK commented on #182
Thanks, for your input.
Sure, i will give that a go.

Thanks again

[2021-03-25 19:28] jiangSeu opened #186 "catkin_make error"
hello,

when i  use the command catkin_make, an error was reported

CMake Error at Azure_Kinect_ROS_Driver/cmake/Findk4a.cmake:78 (find_package):
  Could not find a configuration file for package "k4a" that is compatible
  with requested version "1.3.0".

  The following configuration files were considered but not accepted:

    /usr/lib/x86_64-linux-gnu/cmake/k4a/k4aConfig.cmake, version: 1.1.1

[2021-03-25 19:45] zchenpds commented on #186
You may want to upgrade your libk4a from version 1.1.1 to 1.3.0 following https://docs.microsoft.com/en-us/azure/kinect-dk/sensor-sdk-download#linux-installation-instructions
[code]

[2021-03-25 20:30] jiangSeu commented on #186
thank you very much,  the issue is resolved!

[2021-03-26 14:26] zhaocheng-hub commented on #83
@amonnphillip   Hello, can you share your calibration method?

[2021-03-29 15:04] ooeygui commented on #101
The Azure Kinect team just released a high fidelity model - https://github.com/microsoft/Azure-Kinect-Sensor-SDK/tree/develop/assets.

This needs to be converted to dae, and added as a mesh resource to the URDF.

[2021-03-31 15:09] francescosemeraro commented on #129
Good afternoon @ooeygui.
Has there been any progress about the Foxy builds for Azure Kinect? I am trying to make the Azure Kinect ROS Driver in ROS 2, but it is becoming very painful to do it on my own. Having a version easily deployable on ROS 2 could really help me a lot, thanks.

[2021-03-31 15:31] ooeygui commented on #129
@francescosemeraro Foxy builds have been committed as part of https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/155; are you seeing issues with them?

[2021-03-31 15:31] #129 closed, assigned to ooeygui

[2021-03-31 15:32] #186 closed, assigned to nobody

[2021-03-31 16:38] francescosemeraro opened #187 "Issues in running colcon build for Azure ROS driver in ROS 2 in Ubuntu 20.04"
Good morning!

I am trying to build the Azure ROS Driver on ROS 2 in Ubuntu 20.04. I downloaded the zip version of your workspace, specifically the branch related to ROS 2 Foxy. When I run colcon build, I get the following error:

Starting >>> azure_kinect_ros_driver
--- stderr: azure_kinect_ros_driver
CMake Error at CMakeLists.txt:12 (find_package):
  By not providing "Findcatkin.cmake" in CMAKE_

[2021-03-31 17:28] ooeygui commented on #187
Are you using the Foxy-devel branch?

[2021-04-06 19:00] AswinkarthikeyenAK opened #188 "Body Tracking latest version k4a tools 1.4.1 and k4abt version 1.1.0 issue"
**Describe the bug**
I tried to install the latest Kinect Azure SDK 1.4.1 and the body tracking SDK version 1.1.0.
When I launch the ROS node, I get the following error message.

[code]
and the body tracking does not seem to be working.

**To Reproduce**
Steps to reproduce the behavior:
1. Install k4a-tools=1.4.1 and k4abt1.1 k4abt1.1-dev
2. roslaunch azure_kinect_ros_driver driver.launch

**Expec

[2021-04-06 19:00] AswinkarthikeyenAK opened #189 "Body Tracking latest version k4a tools 1.4.1 and k4abt version 1.1.0 issue"
**Describe the bug**
I tried to install the latest Kinect Azure SDK 1.4.1 and the body tracking SDK version 1.1.0.
When I launch the ROS node, I get the following error message.

[code]
and the body tracking does not seem to be working.

**To Reproduce**
Steps to reproduce the behavior:
1. Install k4a-tools=1.4.1 and k4abt1.1 k4abt1.1-dev
2. roslaunch azure_kinect_ros_driver driver.launch

**Expec

[2021-04-06 20:46] ooeygui commented on #188
This looks like an SDK issue - are you able to reproduce this without the ROS node? (using the SDK tools directly)

[2021-04-07 14:35] AswinkarthikeyenAK commented on #188
Hi,
Without out the ROS node, it seems to be working. I was able to visualize the body tracking output
But I got something like this as soon as i started the k4abt_simple_3d_viewer
`Force fallback to CPU execution for node: Shape__40 `

[2021-04-07 16:59] zchenpds commented on #188
`Force fallback to CPU execution for node: Shape__40 `

According to https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1555, the warning can be safely ignored.

Did you update the `CMakeLists.txt` file and `catkin_make`?
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/cac73214020db1298decb6ad0d22aac45863a531/CMakeLists.txt#L89-L94

[2021-04-07 17:02] AswinkarthikeyenAK commented on #188
Hi, @zchenpds,
I did do that update the CMakeList.txt
Thanks

[2021-04-09 14:17] HlibKazakov2000 commented on #188
Hello, @AswinkarthikeyenAK
I wasn't able to reproduce this issue.
Could you please describe the process of launching and setting up your environment command-by-command, so I can see the difference in our setups?
Thanks

[2021-04-12 16:47] HlibKazakov2000 commented on #188
@AswinkarthikeyenAK
Do you have enough free space to allocate the requested buffer?

[2021-04-15 13:41] zoidzilla commented on #152
Hello,

I would like to verify that the solution of the dummy HDMI monitor plug (https://www.amazon.de/-/en/Headless-Display-Virtual-Emulator-Generation/dp/B076WP9RZ1/ref=sr_1_fkmr2_2?dchild=1&keywords=4k+hdmi+blindstecker+-+hochaufl%C3%B6sende+virtual+bildschirmfl%C3%A4che+emulator%2C+new+generation+headless+display+adapter&qid=1602710811&sr=8-2-fkmr2) in combination with the instructions under s

[2021-04-15 13:41] #152 closed, assigned to nobody

[2021-04-27 10:12] Shunichi09 opened #190 "catkin_make Error with OpenCV3.4.13"
**Describe the bug**

I tried to build with opencv3.4.13 and I got the following errors.

[code]

I think this is related to #173  then I tried to fix but I still get this error.
Does anyone know how to fix this bug ??
This error is caused by the following code.

[code]

(I know if we use opencv 3.2.0 we can build but opencv3.2.0 is a little bit old and it's difficult to use with other libraries)

[2021-04-27 14:44] ooeygui commented on #190
We plan to support later OpenCV versions with Noetic or Foxy with 20.04 (allowing us to use later Body tracking SDK & newer Azure SDK)

[2021-04-28 01:17] Shunichi09 commented on #190
Thank you for your reply. Ok. I'm looking forward to your new release.

[2021-04-29 15:40] janfelixklein opened #191 "Camera info on topic not in line with retrieved camera info from SDK"
**Describe the bug**
When launching the Azure Kinect ROS node, the camera calibration is printed (see screenshot 2). However, the data published on the camera_info doesn't seem to match with these values. The published camera info also doesn't change when the resolution is changed which is the case for the printed values during launch.

**Expected behavior**
I guess there must be some inconsistenc

[2021-05-02 04:27] #190 closed, assigned to nobody

[2021-05-20 02:11] jieunko opened #192 "How to get timestemp from Azure kinect ROS driver?"
How to get timestemp from Azure kinect?
It seems there's no topic in kinect ROS driver?

[2021-05-20 15:56] ooeygui commented on #192
Which timestamps are you interested in? Is there a specific [REP](https://ros.org/reps/rep-0000.html) you are looking for?
Each camera frame and IMU frame are time stamped.

[2021-05-21 00:32] jieunko commented on #192
Oh Now I get it..It is in the Header of the message. Thx..

[2021-05-21 01:38] #192 closed, assigned to nobody

[2021-05-21 01:38] ooeygui commented on #192
Glad I could help :-)

[2021-05-22 14:57] vinesmsuic opened #193 "Nvidia Jetson Xavier NX: catkin_make causing error: undefined reference to `cv::error(int, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, char const*, char const*, int)'"
**Describe the bug**
I tried to install ros driver on 2 Nvidia Jetson Xavier NX machines but both yield the same error when executing `catkin_make`.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Microsoft's Package Repository and install k4atools
[code]
2. Inital the workspace
[code]
3.
[code]
4. See error

**Expected behavior**
successful catkin_make

**Logs**
[code]

**Desktop

[2021-05-27 16:32] ooeygui commented on #193
Thank you for reporting.
Jetpack includes a different version of OpenCV than ROS Melodic traditionally expects, which causes some issues when building projects that traditionally target Melodic.
To support this scenario, the code needs to be updated to detect the OpenCV version difference - not just the distro difference.

Pull requests to fix this issue are appreciated.

[2021-06-02 17:38] vinesmsuic commented on #193
In case people encountered the same problem as me,
I found a hack to solve this error.

add an extra `vision_opencv` package in `src` folder then `catkin_make` again
[code]

[2021-06-02 17:45] ooeygui commented on #193
@vinesmsuic Thank you for following up and posting the workaround!

[2021-06-02 18:19] #174 closed, assigned to nobody

[2021-06-03 07:00] jdeeee opened #194 "Rate drops to 15Hz every minute"
Hi!
I am using two Kinect for Azure devices on my Ubuntu machine. They are running AzureKinectDK_Fw_1.6.102075014.bin and libk4a 1.3.0 is installed on the PC. The cameras are connected via 10m long active USB-3.0 cables.
On one of my computers the cameras seem to work fine. On another one I see the following behavior:
The rate of one of the cameras drops to 15FPS for one second and then returns to

[2021-06-03 16:39] ooeygui commented on #194
Hello @jdeeee,
Thank you for reporting this. @qm13 FYI.
The ROS node is a thin wrapper around the Azure Kinect SDK. In this case, the ROS node has detected that the camera time is drifting too far out of sync with the system and reinitializes it. While this code could be removed (or configurable), you would notice that the kinect frames will quickly lag behind realtime.

Previous investigations in

[2021-06-04 20:15] AswinkarthikeyenAK opened #195 "Body Tracking Data - Joint Rotation switching between positive and negative values"
Hi,
I started the body tracking and then captured the rotation of the pelvis joint and noticed that the data was not consistent.
Can someone kindly let me know why the data of the pelvis joint data obtained from the camera is not consistent with the rotation?
![image](https://user-images.githubusercontent.com/33458020/120856772-3c19c000-c578-11eb-97d3-999a7ad71aba.png)
Is there a way to fix this?

[2021-06-04 20:20] ooeygui commented on #195
@qm13 do you have any input on this?

[2021-06-04 20:29] zchenpds commented on #195
This is expected. You converted the quaternion to Euler angles and the yaw angle is wrapped to [-pi, pi), causing the discontinuity you observe in the yaw angle. The quaternion still changes continuously with time.

[2021-06-04 20:34] ooeygui commented on #195
@zhenpds Thank you for your input here!

[2021-06-04 20:34] #195 closed, assigned to qm13

[2021-06-14 11:21] jdeeee commented on #194
Hi! Thanks for taking the time to respond :) I am not 100% sure, which information would be most helpful to you. I will print the output of lspci for both systems.
On the computer, where I experience the issues:

00:01.0 PCI bridge: Intel Corporation Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon D PCI Express Root Port 1 (rev 01)
00:02.0 PCI bridge: Intel Corporation Xeon E7 v4/Xeon E5 v4/Xeon E3 v4/Xeon

[2021-06-21 11:35] wangmiaowei opened #196 "Question about Accessing .mkv files"
Well, I do not bring my Azure Kinect device now. But I want to process the .mkv file. How can I use the node to access my preoutputted .mkv file and convert it to point cloud?

[2021-06-21 11:38] wangmiaowei commented on #196
Well, I do not bring my Azure Kinect device now. But I want to process the .mkv file. How can I use the node to access my preoutputted .mkv file and convert it to point cloud?

[2021-06-21 14:46] ooeygui commented on #196
@wangmiaowei The Azure Kinect ROS node does not have this capability. The most accurate way to accomplish what you are looking for is to capture the output from the Azure Kinect to a ROSBag; then you can play it back later as if it came from the camera.

[2021-06-21 14:46] #196 closed, assigned to nobody

[2021-06-21 15:16] zchenpds commented on #196
Thanks to @RoseFlunder, you may play back a .mkv file by starting `driver.launch` with the following argument specified.
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/cac73214020db1298decb6ad0d22aac45863a531/launch/driver.launch#L39

[2021-06-21 15:25] ooeygui commented on #196
@zchenpds Wow, I totally forgot about that. Thank you for responding.

[2021-06-22 01:59] wangmiaowei commented on #196
Well, thanks for your suggestion.However, there are some differences with what I have expected. I want a end to end pipeline which  can output point clouds when I play .mkv file in this Azure Kinect ROS system in a real time.

[2021-07-02 05:28] dyumanaditya opened #198 "Windows build failing"
Hi everyone,
I've installed the Azure-Kinect-Sensor-SDK for Windows 10 as instructed [here](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/blob/develop/docs/usage.md#msis). But when I make a `catkin_ws`, clone the Azure_Kinect_ROS_Driver, and run `catkin_make --force-cmake`, I get the following failure message:

[code]

The Lib file `RpcRT4`  is present in the mentioned directory, so how can

[2021-07-04 18:29] ooeygui commented on #198
@DyumanAditya Thanks for the report, I'd like to get to the bottom of this.
I've attempted to build with current tip of tree for the melodic-devel branch builds on Melodic and Noetic for the current release of the Windows builds for both melodic and noetic, which succeeded.
Can you try removing the `devel` and `build` directories in the catkin workspace and rebuild?

[2021-07-05 06:13] dyumanaditya commented on #198
Thank you for your reply @ooeygui, I tried removing the devel and build directories and rebuilt, but received the same error.
I've cloned on the default `melodic` branch from [here](https://github.com/microsoft/Azure_Kinect_ROS_Driver/tree/melodic)

[2021-07-06 16:37] ooeygui commented on #198
It looks like I was behind on VS. I'm updating now.

[2021-07-08 14:13] christian-rauch opened #199 "driver publishes unrectified images by default"
**Describe the bug**
~~The intrinsic calibration that is used to project colour and depth pixels to a 3D point cloud is wrong or not properly processed.~~ According to https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/726 and https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/105 it is neither possible to update the intrinsic parameters on the camera, nor does the ROS node suppo

[2021-07-08 16:11] ooeygui commented on #199
Thank you for the detailed writeup.
This thread (https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/83) has a discussion about calibration. Color and depth are handled separately, each with their own calibration. Since most downstream tooling doesn't seem to support the required calibration, we've discussed predistorting to align. However, this would introduce performance issues. We have

[2021-07-08 16:28] christian-rauch commented on #199
I am specifically talking about the intrinsic calibration of the camera (a.k.a. the camera matrix K or C) here, not the extrinsic calibration between two Kinects or between the colour and depth sensor. The colour <-> depth alignment seems to be ok as I don't see any issues with mismatching colour/depth values on edges etc. But the intrinsic calibration for projecting a point from 2D to 3D and vice

[2021-07-09 15:43] christian-rauch commented on #105
See https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/200 for calibrating the camera via ROS.

[2021-07-09 15:43] christian-rauch commented on #83
See https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/200 for calibrating the camera via ROS.

[2021-07-10 14:49] wangmiaowei opened #201 "Failed to transform depth image to point cloud!"
When I run the ROS, I get something as follows:
[ WARN] [1625914072.118329000]: Initializing the device to realtime offset based on wall clock: 1625914071552925200 ns
[2021-07-10 18:47:52.195] [error] [t=4291] ../src/transformation/transformation.c (584): k4a_transformation_t_get_context(). Invalid k4a_transformation_t (nil)
[2021-07-10 18:47:52.195] [error] [t=4291] ../src/transformation/transfor

[2021-07-12 18:18] ooeygui commented on #201
Hi there,
This error is coming from the Azure Kinect SDK. @qm13 do you have a recommendation?

[2021-07-12 20:32] #175 closed, assigned to amelhassan

[2021-07-13 18:37] AswinkarthikeyenAK commented on #126
Hi @ooeygui,
Is there any updates regarding this feature?
Thanks

[2021-07-13 22:17] ooeygui commented on #201
Are you using a default launch file or have you customized it?

[2021-07-14 09:31] christian-rauch commented on #163
You can use [rgbd_launch](http://wiki.ros.org/rgbd_launch) to convert colour + depth with intrinsic to a structured point cloud.

[2021-07-14 09:33] christian-rauch commented on #116
If you are just interested in the intrinsic calibration without storing the colour and depth images, then https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/200 might help you.

[2021-07-14 11:20] christian-rauch commented on #191
I can not verify this behaviour:

Printout from the driver:
[code]

And the `camera_info` topics:
[code]

[2021-07-27 11:17] christian-rauch commented on #101
Is there any progress on this? Converting the camera body to DAE should be quite easy. But someone from the engineering team should verify that the frames and transformations on the model are correct.

[2021-07-27 19:54] #168 closed, assigned to nobody

[2021-07-28 06:25] jdeeee commented on #194
Hi!
I have (sort of) figured out what the problem was. Our computer is collecting data about its state every minute for monitoring purposes. Once monitoring is turned off, the described behavior disappears. Unfortunately, I can't exactly tell right now what part of the monitoring causes the issues.

[2021-07-28 06:35] jdeeee opened #204 "Camera interference / Synchronization"
Hi!
I use two Azure Kinect devices, which are connected using a 5m synchronization cable. I start one camera in master mode (wired_sync_mode=1) and one camera in subordinate mode (wired_sync_mode=2). My understanding would be that cross-interference will not occur in this setting.
However, I have seen cross talk (at least) in the following scenario: One camera is mounted on a tripod and is roughly

[2021-08-01 09:25] Ktysai opened #208 "Ros2 driver for Kinect v2"
Is there a chance to make usable in ROS2 also the old Kinect v2?

All the best!

[2021-08-03 19:56] christian-rauch opened #209 "camera_info topics are missing the optical frame name"
**Describe the bug**
The published camera info topics on ROS1 are missing the camera optical frame names.

**To Reproduce**
Steps to reproduce the behavior:
1. start `driver.launch`
2. inspect the camera info header: `rostopic echo /rgb/camera_info/header/frame_id`
3. the `frame_id` is empty

**Expected behavior**
The `camera_info` messages should contain the same header (timestamps and frame name

[2021-08-04 19:15] jmachowinski opened #210 "Driver hangs forever if initial open failed"
**Describe the bug**
If at the end of constructor of K4AROSDevice k4a_device_ is still nullptr,
a ROS_ERROR is outputted, but the node is not shut down. This leads to
a 'hanging' node.
This error occurres, if multiple drivers are launched at the same time.

As every driver claims the device exclusive then checks the serial, and afterwards
releases the device if the serial is not the correct one, i

[2021-08-04 23:14] #181 closed, assigned to amelhassan

[2021-08-05 07:52] jmachowinski commented on #199
Hi @christian-rauch how are you ? Hope fine ;-)

Did you find out more details, what is off ?
Or asked the other way around, did your test show anything weird with the depth intrinsic ?

[2021-08-05 10:23] christian-rauch commented on #199
@jmachowinski Nice to see you :-) It's a small (robotics) world.

tl;dr: The factory calibration is actually correctly used by ROS. I just thought that the driver already publishes rectified images.

When I created this issue, I thought that the driver is already publishing rectified images using the factory calibration. But I was wrong about this: The `image_raw` topics indeed are the raw unrecti

[2021-08-06 13:56] jmachowinski commented on #199
Thanks for the update.

So the title of the issue is currently a bit misleading. The intrinsics are correct, but there is
no option, to give an own calibration (if you want that for reasons...).

[2021-08-06 14:08] christian-rauch commented on #199
Right, I did not update the description after opening PR #200. I updated the title just now and added a clarification to the issue description.

[2021-08-09 23:59] amelhassan opened #211 "Fix calibration and rectification for ROS2"
**Describe the bug**
A ROS2 change is required to match PR #200. This addresses issues #199 and #105.

[2021-08-10 00:01] #105 closed, assigned to nobody

[2021-08-10 13:33] jmachowinski commented on #204
You need to configure the fire offset,
subordinate_delay_off_master_usec
is the parameter for this
According to this documentaiton :
https://docs.microsoft.com/en-us/azure/kinect-dk/multi-camera-sync
it needs to be set to at least 160 usec.
Also note, that the master will only generate a sync signal if the color camera is activated.

[2021-08-12 12:59] kamil-dreczkowski opened #212 "When to use undistorted images and what camera intrinsic parameters to use for 3D projections?"
Apologies that I have logged this as a feature request - I am very new to git and did not know how to ask a question directly. However, I thing that some things could be clarified in the usage.md file to makes things more clear for others.

My question is:

In the usege.md file, it is specified that images on the following topics are **not undistorter** :
- depth/image_raw
- rgb/image_raw

My ques

[2021-08-12 14:24] christian-rauch commented on #212
All `image_raw` topics contain the raw unrectified/undistorted images. You have to use the camera info to rectify these images. This can be done with the `image_proc` nodelets. The `kinect_rgbd.launch` does this conveniently for you by loading all nodelets (driver and rectification) into a single nodelet manager.

The intrinsic matrix is used for the rectification. It does not change unless you ov

[2021-08-12 14:36] christian-rauch commented on #210
Related issue about opening multiple devices in parallel: https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/97.

[2021-08-12 15:07] kamil-dreczkowski commented on #212
Thank you for your reply. I understand that the intrinsic matrix does not change on the topic itself. My question is weather it should be the same for a raw and rectified image? If it makes sense that the same relationship between 3D points and pixels holds for a distorted and undistorted image? Below I have pasted in a raw depth image (top) and the corresponding rectified image (bottome), both ob

[2021-08-12 15:16] christian-rauch commented on #212
You cannot use the calibrated intrinsics to project from the rectified image into 3D.

You either can use the calibrated intrinsic on the raw unrectified images, or you have to use the ideal intrinsics on the rectified images. The ideal intrinsics are computed from the technical specification of the sensor resolution and field-of-view.

[2021-08-12 15:59] kamil-dreczkowski commented on #212
This clarifies a lot for me, thank you. So when calibrating the extrinsics of an RGB camera using rectified images, I would assume that I would also have to use the ideal intrinsics? And is the reason for this that undistorting an image maps it to an equivelent image that would have been taken by an ideal pinhole camera, and hence the need for the use of the ideal intrinsics?

The intrinsic matrix

[2021-08-12 16:53] christian-rauch commented on #212
For an extrinsic calibration between raw images, I would first do the intrinsic calibration for RGB and IR and then use the rectified images. But you can also do this in one go like for the stereo calibration http://wiki.ros.org/camera_calibration/Tutorials/StereoCalibration.

Your equations look correct. But why do you want to do this manually? You have to compute the ideal instrics for the RGB a

[2021-08-12 17:17] kamil-dreczkowski commented on #212
Essentially, I am building up a 3D reconstruction of an object. To do so, I need to integrate RGBD images taken from multiple viewpoints around the object into a Truncated Signed Distance Function (TSDF) volume. I am using rectified RGB images from the /rgb/image_rect_color topic and rectified aligned depth images from the /depth_to_rgb/image_rect_raw topic. Now, the TSDF algorithm also takes as i

[2021-08-12 18:11] christian-rauch commented on #212
Either this, or better use the raw images and factory calibration directly. Since your algorithm will use the intrinsic anyway, there is no point in rectifying the images first.

For AprilTags, you have to use the rectified images. See https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/200.

If you are using the colour and depth as part of a 3D pipeline that already uses the intrinsic for p

[2021-08-12 19:18] kamil-dreczkowski commented on #212
Thanks for all your help and all these tips. I will try these things tomorrow.

Also, just to clarify, factory and manual calibration give the intrinsic parameters and distortion coefficient for a camera.  The intrinsic parameters capture the relationship between pixels in the raw images that were used as part of the calibration and 3D points. On the other hand, the distortion coefficients can be

[2021-08-13 10:45] christian-rauch commented on #212
You calibrate and rectify images to get correct the projection and the ideal view. Manufacturing inaccuracies and optics change how the image is projected compared to the ideal projection. For a 3D projection, you can either use the raw images and the "corrected" projection matrix, or the "corrected" images and the ideal projection matrix. This should give you the same results. If you want to read

[2021-08-13 12:26] kamil-dreczkowski commented on #212
Thanks for the source! From #200 it is very clear that rectification makes lines more straight. Since AprilTag pose estimation relies on template matching, then it explains why it requires rectified images. But in this case, I would guess that it also requires the ideal projection matrix to be very accurate.

For the 3D projection with raw images, when you wrote the "corrected" projection matrix,

[2021-08-13 12:55] christian-rauch commented on #212
No, the calibrated intrinsic are already "corrected". This is easy visible by comparing the calibrated image centre with the image size.

Yes, that is what you do if you just use the factory calibration on the raw image.

[2021-08-13 13:35] kamil-dreczkowski commented on #212
Thanks a lot! This all makes sense now! I will now rename this question to reflect how our conversation has unfolded so that others can also learn from your answers.

[2021-08-16 12:51] kamil-dreczkowski commented on #212
Over the weekend, I have been thinking about this problem more and more. From my understanding, the intrinsics matrix does not account for image distortions caused by the camera lens, as a pinhole model assumes that it is not present. If this is true, would it not be more accurate to use the ideal intrinsic matrix and a rectified image than a raw image and factory calibration to do a 3D projection

[2021-08-16 15:41] christian-rauch commented on #212
Sorry, I mixed some things together here. The camera meta data stored in [`sensor_msgs/CameraInfo`](http://docs.ros.org/en/noetic/api/sensor_msgs/html/msg/CameraInfo.html) contains the intrinsics (`K`) for the projection and the distortion parameters (`distortion_model` + `D`). If you only need a rectified 2D image you have to use the distortion parameters and the intrinsic. E.g., if you use a len

[2021-08-20 15:14] Enes1097 commented on #74
Hey,
has this been implemented already? :)

[2021-08-20 17:49] ooeygui commented on #74
No this has not been implemented.
Can you tell me more about the scenario you are looking to enable?

[2021-08-21 21:35] Enes1097 commented on #74
I'm trying to do an extrinsic Calibration between the Azure Kinect DK Camera and an IMU (not the in-built Kinect IMU) by using the fairly popular ROS1 Node Package kalibr (https://github.com/ethz-asl/kalibr).
To get the calibration parameters using this package, both the Camera and IMU have to be rigidly connected with each other to ensure no relative moment between them. Then they have to be move

[2021-08-26 11:18] Enes1097 opened #213 "What is the connection between set resolution of the camera and the factory calibration?"
Hey,
I'm currently working on an extrinsic spatial calibration between a Velodyne LiDAR and the Azure Kinect Camera with this package (https://github.com/beltransen/velo2cam_calibration).

While computing this package, I saw some weird output values that I believe are solely related to the settings of the Kinect Camera:
When I set the resolution of the camera to 720p and compute the calibration pa

[2021-08-26 17:22] ooeygui commented on #213
The ROS node passes transforms the factory calibration in https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/melodic/src/k4a_calibration_transform_data.cpp. @qm13 - can you shed some light on this question?

[2021-08-29 15:27] swwzn714 commented on #143
That helps a lot! Thanks.

[2021-08-29 15:48] xingchenzhang opened #214 "depth_registered/points is empty"
Hi,

I am trying to use depth_registered/points in my application. However, in my case depth_registered/points is empty so it is not working.

Can anyone shed some ideas on this?

Thank you very much!

[2021-08-31 08:51] ymxlzgy opened #215 "Failed to poll cameras: node cannot continue."
**Describe the bug**
When I launch the kinect_rgbd.launch, this error has shown up. But the driver.launch is fine.

**Logs**
[ WARN] [1630399140.685111182]: Camera calibration file /home/edge/.ros/camera_info/azure_kinect_ir_000371312112_NFOV_UNBINNED.yaml not found.
[ WARN] [1630399140.991443637]: Initializing the device to realtime offset based on wall clock: 1630399140791121325 ns
[ WARN] [1630

[2021-08-31 10:51] Enes1097 commented on #213
Hello @ooeygui @qm13 , I read through the cpp.code and saw how the intrinsic matrix is built. Sadly I still don't really understand where the parameters for the intrinsic matrix come from? Is it from the function "k4a_calibration_camera_t"? Do they change depending on the set resolution or are they constant parameters?

`void K4ACalibrationTransformData::printCameraCalibration(k4a_calibration_came

[2021-09-16 11:47] christian-rauch commented on #214
Which launch file are you using?

Launching via `driver.launch` provides `/points2` with `sensor_msgs/PointCloud2`. Alternatively, you can use the colour, registered depth image and the intrinsic to do the projection yourself.

[2021-09-16 11:50] christian-rauch opened #216 "new binary release"
Since the driver got shiny new features such as compressed depth (https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/180) and manual calibration (https://github.com/microsoft/Azure_Kinect_ROS_Driver/pull/200) could you do a new binary bloom release, so these features can be used without compiling from source?

[2021-10-05 17:43] christian-rauch opened #217 "undefined use of alpha channel"
**Describe the bug**
The image on colour topic `rgb/image_raw` contains an alpha channel (`bgra8`). It's not clear why this channel is required or which information is stored there. Is this used to mark invalid pixels? If it is not used, I propose to remove the alpha channel and just encode the image in the native format of the sensor.

**To Reproduce**
Steps to reproduce the behavior:
1. show the

[2021-10-12 01:06] Tacha-S opened #218 "Frame_id of camera info is empty"
**Describe the bug**
The frame of the camera information that I calibrated myself is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Calibrate azure kinect.
2. Save calibration parameter to `~/.ros/camera_info/azure_kinect_rgb_*_720P.yaml`
3. Launch with the calibration parameter.
4. Echo camera info topic.

**Expected behavior**
Set frame_id from `calibration_data_`.

**Logs**
[code]

[2021-10-12 07:20] omar-abugharbiyeh opened #219 "IMU publisher thread using too much CPU"
**Describe the bug**

When launching the Azure Kinect driver it appears to be using 100% of the available CPU even without any connected cameras.

**To Reproduce**
this problem seems to happen on the foxy-devel branch when cloning, building, and then launching the driver. I have managed to narrow down the reason slightly and I've noticed that this only happens when the IMU publisher thread starts.

[2021-10-12 08:22] omar-abugharbiyeh commented on #219
it seems that the issue was that the while loop in `imuPublisherThread` is missing a `loop_rate.sleep()`

[2021-10-15 09:58] NFiedler opened #221 "Documented FPS are wrong when using kinect_rgbd.launch"
**Describe the bug**
In the documentation, it is claimed, that the cameras FPS default to 5. While this is true for the driver.launch file, the kinect_rgbd.launch defaults to 30 FPS.

I would like to fix it via a PR but I am not sure whether to change the default FPS in the kinect_rgbd.launch,  adapt the documentation for both files, or adapt the documentation, and driver.launch to 30 FPS.

[2021-10-15 19:07] ooeygui commented on #221
Hi there,
Thanks for the question. We originally changed the driver launch file, as there were performance concerns in the general case. The Kinect can easily overwhelm a robot with data - most of which will likely go unused.  Our expectation is that these parameters will be adapted by the user as they tune their solution.

We've opted to change defaults for the general case - but this cases was m

[2021-10-21 11:16] oblitorum opened #223 "Misleading k4abt cmake message"
**Describe the bug**
Quiet message reference to k4a lib/dll when finding the k4abt lib/dll during the compilation on Windows, which is really misleading.

**To Reproduce**
- Install a mismatch *Azure Kinect Body Tracking SDK* version, say v1.1.0
- Clone the *Azure_Kinect_ROS_Driver* repo
- Remove `QUIET` from `find_package(k4abt 1.0.0 QUIET MODULE)` in  *CMakeLists.txt* to enable quiet message
- R

[2021-10-28 11:02] christian-rauch commented on #221
This is my "fault". I added the `kinect_rgbd.launch` and added:
https://github.com/microsoft/Azure_Kinect_ROS_Driver/blob/f82f4bba2fa50e66b426de5df6e62fb7bc481d40/launch/kinect_rgbd.launch#L45
because you usually want to have the highest framerate available for robotic applications. I think arbitrarily restricting the framerate to a low 5Hz does not make sense and I would personally prefer if the

[2021-10-29 19:53] #223 closed, assigned to nobody

[2021-10-29 20:29] amelhassan commented on #221
Our customer support data from github issues on this site indicates that the vast majority users are using lower performance systems. Our defaults should reflect this, with the option of also running high performance.

[2021-10-30 19:57] #109 closed, assigned to ooeygui

[2021-10-30 22:15] #221 closed, assigned to nobody

[2021-10-31 13:35] horibirds opened #226 "How to reconstruct k4a::capture data"
I would like to reconstruct `k4a::capture` data from rosbag.
are these steps true?

1. `depth` and `ir` data are recorded on rosbag.
2. get calibration data from a device.
3. create tracker with calibration data I got from device.
4. each k4a::image is created from `depth` and `ir` data on rosbag.
5. `k4a::capture` will be initialized and set `k4a::image`  with its function `set_depth_image()` and

[2021-11-10 23:06] rockmasstech opened #227 "Fix publishing ordered pointcloud messages as unordered"
### **Problem**
Related to [Issue 163](https://github.com/microsoft/Azure_Kinect_ROS_Driver/issues/163)

On the latest **melodic branch**, when subscribing to the `/points2` pointcloud topic, the received [`sensor_msgs::PointCloud2`](http://docs.ros.org/en/melodic/api/sensor_msgs/html/msg/PointCloud2.html) messages are unordered (i.e. height = 1).

In my testing for example, when `point_cloud_in_d